.registration {
  background-image: url(../images/registration_bg.jpg);

  .videoBackground,
  .mobileBackground { position: absolute; }

  .centerizer {
    position: relative;
    z-index: 1;
    @include square;
    @include display-flex();
    @include flex-direction(column);
    @include justify-content(space-around);
    @include align-items(center);
  }

  h2 {
    font-size: 21px;
    line-height: 25px;
    color: white;
    text-align: center;
  }

  .logo1 {
    width: 37px;
    height: 103px;
    margin-top: 80px;
    background-image: url(../images/registration_logo_1.png);
  }

  .logo2 {
    width: 71px;
    height: 32px;
    background-image: url(../images/registration_logo_2.png);
  }

  .registerButton {
    width: 268px;
    height: 79px;
    border: 3px solid black;
    text-align: center;
    line-height: 74px;
    @include transition-property(all);
    @include transition-duration(.3s);
    @include transition-timing-function(ease-out);

    &:hover {
      background: black;
      color: white;
      cursor: pointer;
    }
  }
}
