.social-likes__counter {
  display: none;
  position: relative;
}

.social-likes_ready .social-likes__counter,
.social-likes__counter_single { display: inline-block; }

.social-likes_ready .social-likes__counter_empty { display: none; }

.social-likes__counter {
  min-width: 12px;
  padding: 1px 4px;
  font-weight: 400;
  text-align: center;
  border-left: 1px solid #ccc;
}

.social-likes__widget:hover > .social-likes__counter,
.social-likes__widget:focus > .social-likes__counter,
.social-likes__widget:active > .social-likes__counter,
.social-likes__widget_active > .social-likes__counter {
  position: relative;
  border-left-color: transparent;
}

.social-likes__widget:hover > .social-likes__counter:before,
.social-likes__widget:focus > .social-likes__counter:before,
.social-likes__widget:active > .social-likes__counter:before,
.social-likes__widget_active > .social-likes__counter:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px;
  border-left: 1px solid;
  opacity: .4;
}

.social-likes_notext { margin: -3px; }
.social-likes_notext .social-likes__widget { margin: 3px; }
.social-likes_notext .social-likes__button { width: 18px; }

.social-likes_notext .social-likes__icon {
  width: 100%;
  background-position: center center;
}

.social-likes_single .social-likes__counter {
  display: table-cell;
  padding: 2px 8px 2px 4px;
  border-left: 0;
  text-align: right;
}

.social-likes_single .social-likes__widget:hover > .social-likes__counter:before,
.social-likes_single .social-likes__widget:focus > .social-likes__counter:before,
.social-likes_single .social-likes__widget:active > .social-likes__counter:before { display: none; }

.social-likes__icon_plusone {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAABD0lEQVR42nTSsUtCURTH8eszSGgIgkqSoHBQh7QpbAlBcRCJ2staHFoa+hNyzqXBoan+gMDdoWgymkwkBxMiggo3a3Cp76WfcJHXgQ/nvfveue+ewwt08luGmEEdcwgjZP7iFrtmIqaUn5SXkUEDA+wZn/CwgQgetHYjC+JbZCOANWf9VXmobDd+c4vu8YgoalhFFpf4VL8rmMW8vR/3lEQV2yijhUO99KzeQ7p+95wjneAMQcRQ1JfsNA/wrc1T46KaznyMJqZxrcIvdNRf3957Gm8JO0ggjRx+cKpN21h0B7GJDw3EOGPvYuQ3ctvgC+K4w7nOfoQlFP4rsg+usI4Lrff0Z7QnCyqpffMrwAC15jTuOMaeqQAAAABJRU5ErkJggg==");
}

.social-likes__widget_plusone:hover,
.social-likes__widget_plusone:active,
.social-likes__widget_plusone:focus {
  background: #dd4241;
  border-color: #dd4241;
}

.social-likes__widget_plusone:hover .social-likes__icon_plusone,
.social-likes__widget_plusone:active .social-likes__icon_plusone,
.social-likes__widget_plusone:focus .social-likes__icon_plusone {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAA5klEQVR42myRvQrCMBSFUyehmyC4Zte1OPoALi6+gy/j6uobiINbF3Fx6tDFpZtSUFzEPxQxnksPchty4WvSJPeek5vIOWcQMViCFuiApqliDUbGD0kCeyLzAfiAI4i5VkM+CfiChdpIXRU2lNSgYAR6ysCB441jAkrfXs7KM1YXq3PuicUxuIO2/GvZKSh4n4xrcugKniwq88L3O+GmVB0GlKxWElsl2IEt1d4qsctu/ruXskqiFKXtL2WzRiQJ6McJWO8Jc/AA/dDj7niPDb2LpRU4e+q1x7VMkM5cSMZ7mBA/AQYALgmaWsDGGiQAAAAASUVORK5CYII=");
}

.social-likes__icon_mailru {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAABIElEQVR42mTSzytEURjG8XunISbFxmQ5UYqGIj9KMztLCyTKrMZCs7K1U7NSLBRloWb+AREmFpPF7GUzRBaymGLpV5bi+9RzM+XU595zT+85533PueHTXhC1BFaRx6DHnnGEbbxoIPSEFCp+l3DjCWOYc38FFzEe7Tj3Dlr5AG0OWscA6jhFX5zHmgO1+oy3V0AHirhHGZ36jjnnknfaxzKmMIxdTKMHO0pPE/px6cA7nAV/bQsfXky7fmtCqA5a8Bn8bz/WqlhNaCCDE0xivCk459zfMKq6VPQxCth0wTUfcZdr+UIaWVR1D0k6115lFkNYwLuPeB4beFUm0cVN4NCnoaBb5z3iDFTfIx7Cpl+j23eyiF6Pqb4lXEVBvwIMAGRTP1kwMI3TAAAAAElFTkSuQmCC");
}

.social-likes__widget_mailru:hover,
.social-likes__widget_mailru:active,
.social-likes__widget_mailru:focus {
  background: #255896;
  border-color: #255896;
  color: #ffcd00;
}

.social-likes__widget_mailru:hover .social-likes__icon_mailru,
.social-likes__widget_mailru:active .social-likes__icon_mailru,
.social-likes__widget_mailru:focus .social-likes__icon_mailru {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAABIElEQVR42mTSzytEURjG8Xtn0IyIDc1SFpJQ5EdN1ChLC6PJFCsWsvInKCvFQllYKPaaZpIpC83CntkgsrBSLP1K2Wh8n3pupubU5865p/c9533PnbBWDaLRijWsYMBrLyhiF69aCJ3Qg7J/j3DrhDFkPV/FuRKSTK6RQAbtmMEPCojjxGv9TTw2XIJ2n/PxN2jDFh5wjA69x1yzytBJB1hCGsPYxyxS2FN5SuhDxYH3OAv+xw4+vZlO/VVCqAma8RU0jpq1KFYJz5jCKSYxXhe87NrfMaq+1HQJ69h2w5e+4k738o1BTONC19rNpOpd5jGEHD5wiAVs4k2VRB9uwneectCd6x5xBervCY9h3V+jy99kEb1eU395XEVBfwIMAE0mQy9JLJUSAAAAAElFTkSuQmCC");
}

.social-likes__icon_odnoklassniki {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAyElEQVR42kzPMQtBcRTG4UvKQmalZFNKDNdm5gsYFCUlCbMyGMwsfACLzRcw2EwsGJTBQAZlUgxsfidvceq5/3vPeTv3Xs99FHMoP3ooOd+aoo+3T40hmnjouYsQWl4uEdRxRkLO6kVsQwB23nDRBruP2swGJ+zgYqKAq97JAi8UMUNFgb16LwvUkEYHcQUOaGNjgTKyaGCrQErn0gJVpQt/g6teObbfPGKAp/Orp3pH25DEHGGsFchghbxXXxvEAjlZqFf8CDAAgr4qyqKlfhgAAAAASUVORK5CYII=");
  background-position: 6px 3px;
}

.social-likes__widget_odnoklassniki:hover,
.social-likes__widget_odnoklassniki:active,
.social-likes__widget_odnoklassniki:focus {
  background: #f6903b;
  border-color: #f6903b;
}

.social-likes__widget_odnoklassniki:hover .social-likes__icon_odnoklassniki,
.social-likes__widget_odnoklassniki:active .social-likes__icon_odnoklassniki,
.social-likes__widget_odnoklassniki:focus .social-likes__icon_odnoklassniki {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAQAAAD1lzQWAAAAgElEQVQIHQXBoRGCAAAF0N80OoA0AxTHcQMncAaO7J1ndRCbgUDRbPCgMABEjnu+F7FRGwxqG4m4YTLhJrG36BUKvcU+SnQiOpSx9cHDAx/biMoP/FQSZ3cnFxcnd+d4YfX2tuIVB1cjGF0dIgpf8FVIHI1otRgdozF72tl5mjV/486WhTdrOooAAAAASUVORK5CYII=");
}

.social-likes__icon_pinterest {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAANCAYAAAB/9ZQ7AAABCUlEQVR42nTRPUvDUBTG8ZtoKYogTsGCoAXtUqFuBR1c/AZddNbRQUqhH0Eo6KKDb0gpXQUHBxF0Kg6KFAWh4qI4KxQRtKXxf+C5OEgP/Ehu8uTclwSN0VmnWsE6shjEF05QwZMFQr04QB3vKOmjGlZxiZxTcE0Pi9jCGD402xnOsYNF67yBGwWP8IaCwhe4xjxmLDyNUySxjGGk3F/5Wcb9Rib04FNLu9LYmk2ih1cbVLXmKXTRwoPCc8jgES/WpYymlhOpSxoxdjXTNn7spo19nYbN1ME9hjTexLE/OqsAC/jGknYf6Yxv/U592LrkcYdn+VehrgmM4ND1r8CHB7CnX96v4l8BBgB54jWa5GM+bAAAAABJRU5ErkJggg==");
}

.social-likes__widget_pinterest:hover,
.social-likes__widget_pinterest:active,
.social-likes__widget_pinterest:focus {
  background: #cc002b;
  border-color: #cc002b;
}

.social-likes__widget_pinterest:hover .social-likes__icon_pinterest,
.social-likes__widget_pinterest:active .social-likes__icon_pinterest,
.social-likes__widget_pinterest:focus .social-likes__icon_pinterest {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAANCAQAAADV/FywAAAAvklEQVQYGQXBsUoUAACA4f/i8MBB0TdINCQQhHoDaXRzagkkopYGhRYfwKWhSYLDZ2ixNyiTVp1cXMQgaDpNsa6v70vy3DcTt34ZeyRlaIzPXnvpAy6tK2+wIwuSZ/75Yphz3+XQjS3JVzwOe0Z+463kCBu58dHIT/fW5IEzUys58NeqK6eSJ/44NZM5r2yaurTkoRNsK8kuLlybYt9AycAnd5a98M5TScmsH44lSVIyb2JbkiSDZNF7I0mS9B8IOsS5z/yrNgAAAABJRU5ErkJggg==");
}
