<!DOCTYPE html>
<html class="preloader">
<head>
  <meta charset="utf8">
  <title>MediaMakers — 29 октября в DI Telegraph</title>
  <link rel="stylesheet" href="stylesheets/application.css">
  <link rel="stylesheet" href="stylesheets/full.css">
  <link rel="stylesheet" href="stylesheets/mobile.css">

  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="javascripts/modernizr.js" charset="utf-8"></script>
  <script src="javascripts/jquery.preload.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" charset="utf-8"></script>
  <script src="javascripts/map.js" charset="utf-8"></script>
  <script src="javascripts/social-likes.min.js"></script>
  <script src="javascripts/application.js"></script>

  <link rel="image_src" href="images/share_image.png">
  <meta name="description" content="Slon и РВК представляют MediaMakers — первую конференцию о людях, меняющих ландшафт медиа. 29 октября в DI Telegraph.">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
  <meta name="google-site-verification" content="llK9-cg6TqucMIHC1EUQW7LLRP598MKs2fW0AOKRxcI" />

  <meta property="og:title"       content="MediaMakers — 29 октября в DI Telegraph" />
  <meta property="og:type"        content="website" />
  <meta property="og:site_name"   content="MediaMakers" />
  <meta property="og:image"       content="http://mediamakers.ru/share_image.png"   />
  <meta property="og:description" content="Slon и РВК представляют MediaMakers — первую конференцию о людях, меняющих ландшафт медиа. 29 октября в DI Telegraph." />
  <meta property="og:url"         content="http://mediamakers.ru" />

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-55951276-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>

  <section class="mobileBackground"></section>

  <section class="videoBackground">
    <video id="topVideoBackground" src="videos/welcome.mp4" type="video/mp4" autoplay="true" loop="true" poster="images/welcome_bg.jpg"></video>
  </section>

  <section id="preloader">

    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 width="231.1px" height="103px" viewBox="0 0 231.1 103" style="enable-background:new 0 0 231.1 103;" xml:space="preserve">
      <g>
    	<path d="M16.2,23h-0.1L5,5H0v46.7V99h5l11.1-18h0.1l10.7,18H32V51.7V5h-5.1L16.2,23z M26,20.6v31.1v31.1l1,6.2h-0.3l-3.2-5.7
    		L16.7,72H15L7.8,83.4L4.8,89H4.4L5,82.9V51.7V20.5L4.4,14h0.3l3.1,5.6L15,31h1.7l6.8-11.3l3.2-5.7H27L26,20.6z"/>
    	<path d="M44.4,43.4c1.4,1.5,3.1,2.7,5.2,3.5c2.1,0.8,4.4,1.2,7.1,1.2c1.4,0,2.8-0.1,4.2-0.4c1.4-0.2,2.8-0.6,4-1
    		c1.3-0.4,2.5-1,3.6-1.6c1.1-0.6,2-1.3,2.8-2l-2.1-3.8c-0.4,0.4-1.1,0.8-1.9,1.3c-0.8,0.5-1.8,0.9-2.8,1.3s-2.2,0.7-3.4,1
    		c-1.2,0.3-2.4,0.4-3.6,0.4c-3.6,0-6.5-1.3-8.6-3.3c-2.2-2-3.2-4.3-3.2-9.3h25.8c0.2-3,0-6.6-0.8-9c-0.8-2.4-1.8-4.1-3.2-5.5
    		c-1.4-1.4-3-2.2-4.9-2.7c-1.8-0.5-3.7-0.7-5.6-0.7c-2.6,0-4.9,0.4-7,1.2c-2.1,0.8-3.9,1.9-5.4,3.4c-1.5,1.5-2.6,3.3-3.4,5.5
    		c-0.8,2.2-1.2,4.7-1.2,7.5c0,2.7,0.4,5.1,1.1,7.2C41.9,40.1,43,41.9,44.4,43.4z M47.1,22.6c0.6-1.2,1.5-2.2,2.5-2.9
    		c1-0.7,2.2-1.3,3.5-1.6c1.3-0.3,2.7-0.5,4.2-0.5c2.7,0,4.9,0.9,6.6,2.5c1.7,1.6,2.6,3.9,2.8,6.9H45.9C46.1,25,46.5,23.7,47.1,22.6z
    		"/>
    	<path d="M110.8,41.3c-0.1-0.6-0.2-1.3-0.2-2c-0.1-0.7-0.3-1.3-0.3-1.9c0-0.6-0.2-1.1-0.2-1.5V0h-10v5h5v9.6c-1-0.2-1.3-0.3-1.8-0.5
    		c-0.6-0.2-1.1-0.3-1.8-0.4c-0.6-0.1-1.3-0.2-2-0.2c-0.7,0-1.6-0.1-2.5-0.1c-2.6,0-4.9,0.4-7,1.1c-2.1,0.8-3.9,1.9-5.4,3.3
    		c-1.5,1.5-2.6,3.3-3.4,5.4c-0.8,2.2-1.2,4.7-1.2,7.5c0,6,1.2,10.4,3.6,13.2c2.4,2.8,6.1,4.2,11.1,4.2c2.5,0,4.8-0.7,6.7-1.8
    		s3.4-2.4,4.4-4.4h0.3l0.7,5h8.5v-4h-4C110.9,42,110.8,42,110.8,41.3z M105,35.3c-1,2.8-1.6,4.9-3.2,6.3c-1.6,1.4-3.7,2.1-6.4,2.1
    		c-1.9,0-3.4-0.3-4.7-1c-1.3-0.7-2.3-1.6-3.1-2.7c-0.8-1.2-1.3-2.5-1.7-4.1c-0.3-1.6-0.5-3.3-0.5-5.1c0-4.5,1-7.7,3.1-9.8
    		c2-2.1,4.8-3.1,8.4-3.1c2,0,3.6,0.2,4.8,0.5c1.2,0.3,2.3,0.8,3.3,1.5V35.3z"/>
    	<path d="M137.3,8.6c1.3,0,2.4-0.4,3.2-1.2c0.9-0.8,1.3-1.8,1.3-2.9c0-1.2-0.4-2.2-1.3-3.1c-0.9-0.9-2-1.3-3.2-1.3
    		c-1.2,0-2.3,0.4-3.1,1.3c-0.8,0.9-1.2,1.9-1.2,3.1c0,1.2,0.4,2.1,1.2,2.9C135,8.2,136.1,8.6,137.3,8.6z"/>
    	<polygon points="152,43 140,43 140,14 123,14 123,19 135,19 135,43 123,43 123,47 152,47 	"/>
    	<path d="M164.3,45.5c1.9,1.7,4.5,2.5,7.9,2.5c1.7,0,3.2-0.2,4.4-0.7s2.3-1,3.2-1.6s1.6-1.4,2.1-2c0.5-0.6,0.9-0.7,1.2-1.7h0.3
    		l0.6,5h9v-4h-4.6c-0.3-2-0.4-4.1-0.4-6.3c0-1.9,0.1-3.8,0.2-5.7c0.1-1.9,0.1-3.7,0.1-5.4c0-1.5-0.1-2.9-0.4-4.4
    		c-0.3-1.4-0.8-2.7-1.7-3.9s-2-2.1-3.4-2.8c-1.5-0.7-3.3-1.1-5.6-1.1c-2.3,0-4.7,0.2-7.1,0.7c-2.4,0.5-4.6,1.3-6.5,2.4l1.7,3.9
    		c1.4-0.6,3.1-1.1,4.9-1.7c1.8-0.6,3.8-0.8,5.8-0.8c1.5,0,2.7,0.2,3.7,0.5c1,0.3,1.8,0.9,2.4,1.7c0.6,0.8,0.9,1.9,1.1,3.2
    		c0.2,1.4,0.1,3.1-0.1,5.1c-3.3-0.5-6.3-0.7-9-0.5s-4.9,0.6-6.8,1.4s-3.3,2-4.3,3.5c-1,1.5-1.5,3.4-1.5,5.7
    		C161.4,41.5,162.4,43.8,164.3,45.5z M168.2,34.6c0.8-0.9,1.9-1.5,3.3-2c1.4-0.4,3.1-0.6,5.1-0.6c2,0,4.4,0.2,6.4,0.6v4.7
    		c0,0.7-0.7,1.4-1.2,2.1c-0.5,0.7-1.2,1.4-2,2c-0.8,0.6-1.7,1.1-2.8,1.5c-1.1,0.4-2.2,0.6-3.5,0.6c-2.4,0-4-0.5-5.1-1.6
    		c-1-1.1-1.5-2.4-1.5-3.8C167,36.6,167.4,35.5,168.2,34.6z"/>
    	<path d="M63,61h-0.3c-0.3,0-0.7-0.9-1.2-1.6c-0.5-0.6-1.2-1.3-2.1-1.9c-0.9-0.6-1.9-1.1-3.2-1.6c-1.3-0.4-2.7-0.7-4.4-0.7
    		c-3.3,0-5.9,0.8-7.9,2.5c-1.9,1.7-2.9,4-2.9,7c0,2.3,0.5,4.2,1.5,5.7c1,1.5,2.5,2.7,4.3,3.5c1.9,0.8,4.2,1.3,6.8,1.4
    		c2.7,0.1,5.6,0,9-0.5c0.2,2.1,0.3,3.8,0.1,5.1c-0.2,1.4-0.5,2.4-1.1,3.2c-0.6,0.8-1.3,1.4-2.4,1.7s-2.2,0.5-3.7,0.5
    		c-2,0-3.9-0.3-5.8-0.8c-1.8-0.6-3.5-1.1-4.9-1.7l-1.7,3.9c1.9,1.1,4.1,1.9,6.5,2.4c2.4,0.5,4.8,0.7,7.1,0.7c2.3,0,4.1-0.4,5.6-1.1
    		c1.4-0.7,2.6-1.6,3.4-2.8c0.8-1.1,1.4-2.4,1.7-3.9c0.3-1.5,0.4-2.9,0.4-4.4c0-1.7,0-3.5-0.1-5.4c-0.1-1.9-0.2-3.5-0.2-5.4
    		c0-2.2,0.1-5,0.4-6H72v-5h-8.4L63,61z M63,70.8c-3,0.4-4.7,0.6-6.6,0.6c-2,0-3.8-0.2-5.2-0.6s-2.6-1.1-3.4-2
    		c-0.8-0.9-1.2-2.1-1.2-3.5c0-1.5,0.5-2.8,1.5-3.8c1-1.1,2.7-1.6,5-1.6c1.2,0,2.4,0.2,3.5,0.6c1.1,0.4,2,0.9,2.8,1.5s1.7,1.3,2.2,2
    		c0.5,0.7,1.4,1.4,1.4,2.1V70.8z"/>
    	<polygon points="92.2,71 89,71 89,56 83,56 83,98 78,98 78,103 89,103 89,75 92.2,75 105.4,90 111.7,90 96.9,74.1 109.1,61 114,61
    		114,56 106.5,56 	"/>
    	<path d="M126,72c0-4,1.1-7.1,3.2-9.1s5-3,8.6-3c1.2,0,2.4,0.1,3.6,0.4c1.2,0.3,2.3,0.6,3.4,1c1.1,0.4,2,0.8,2.8,1.3
    		c0.8,0.5,1.5,0.9,1.9,1.3l2.1-3.8c-0.8-0.7-1.8-1.4-2.8-2c-1.1-0.6-2.3-1.2-3.6-1.6c-1.3-0.4-2.6-0.8-4-1c-1.4-0.2-2.8-0.4-4.2-0.4
    		c-2.7,0-5,0.4-7.1,1.2c-2.1,0.8-3.8,2-5.2,3.5c-1.4,1.5-2.4,3.4-3.1,5.5c-0.7,2.1-1.1,4.5-1.1,7.2c0,2.8,0.4,5.3,1.2,7.5
    		c0.8,2.2,1.9,4,3.4,5.5c1.5,1.5,3.3,2.6,5.4,3.4c2.1,0.8,4.4,1.2,7,1.2c1.9,0,3.7-0.2,5.6-0.7c1.8-0.5,3.4-1.4,4.9-2.8
    		c1.4-1.4,2.5-3.1,3.2-5.5c0.8-2.4,1-5.2,0.8-9.2H126z M144.1,83.1c-1.7,1.6-3.9,2.6-6.6,2.6c-1.5,0-2.9-0.1-4.2-0.4
    		c-1.3-0.3-2.5-0.8-3.5-1.5s-1.8-1.9-2.5-3.1c-0.6-1.2-1.1-2.6-1.2-4.6H147C146.7,79,145.8,81.5,144.1,83.1z"/>
    	<path d="M192.3,58.7c-0.5-1.1-1.2-2-2.1-2.5c-0.9-0.6-2.1-0.9-3.6-0.9c-2.6,0-4.8,0.8-6.7,1.8c-1.9,1-3.6,1.9-5.1,3.9h-0.3l-1.1-5
    		H161v5h9v24h-9v5h27v-5h-13V65.3c0-0.4,0.7-0.9,1.3-1.5c0.6-0.6,1.3-1.2,2.1-1.7c0.8-0.6,1.8-1.1,2.9-1.5s2.4-0.6,3.7-0.6
    		c1.5,0,2.5,0.7,3,2c0.6,1.3,0.8,3.4,0.8,6.2l4.7-0.1c0-2-0.1-3.8-0.3-5.4C193.1,61.2,192.8,59.8,192.3,58.7z"/>
    	<path d="M223.2,84.7c-1.7,0.7-3.9,1.1-6.4,1.1c-1,0-1.9-0.1-2.9-0.3s-1.8-0.5-2.6-0.9c-0.8-0.4-1.4-0.9-1.9-1.6
    		c-0.5-0.6-0.7-1.4-0.7-2.4c0-1.2,0.6-2.1,1.7-2.7c1.1-0.6,2.5-1.1,4.1-1.6c1.6-0.4,3.4-0.8,5.4-1.2c1.9-0.4,3.7-0.9,5.4-1.6
    		c1.6-0.7,3-1.7,4.1-2.9c1.1-1.2,1.7-2.8,1.7-4.9c0-3.1-1.2-5.6-3.6-7.6c-2.4-2-6.1-3-10.9-3c-1.5,0-2.9,0.1-4.3,0.4
    		c-1.4,0.3-2.8,0.6-4,1.1c-1.2,0.4-2.4,0.9-3.4,1.5c-1,0.6-1.9,1.1-2.5,1.7l2.7,4.3c0.5-0.5,1.2-1.1,2.1-1.6
    		c0.9-0.6,1.9-1.1,2.9-1.5c1.1-0.4,2.2-0.8,3.4-1.1s2.5-0.4,3.7-0.4c1.2,0,2.3,0.1,3.4,0.3c1,0.2,2,0.5,2.8,0.9
    		c0.8,0.4,1.4,1,1.9,1.7c0.5,0.7,0.7,1.5,0.7,2.5c0,1.4-0.6,2.5-1.7,3.3c-1.1,0.8-2.5,1.4-4.1,1.9c-1.6,0.5-3.4,0.9-5.4,1.3
    		c-1.9,0.4-3.7,0.9-5.4,1.6c-1.6,0.7-3,1.6-4.1,2.7c-1.1,1.1-1.7,2.7-1.7,4.8c0,1.7,0.4,3.1,1.1,4.3c0.7,1.2,1.7,2.2,2.9,3
    		c1.2,0.8,2.6,1.4,4.2,1.7c1.6,0.4,3.3,0.6,5,0.6c3.1,0,5.8-0.4,8.1-1.2c2.3-0.8,4-1.6,5.4-2.4l-2.1-4.2
    		C226.5,83.2,224.9,83.9,223.2,84.7z"/>
      </g>
    </svg>

    <ul class="spinner">
      <li class="current"></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </section>

  <menu>
    <i>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </i>

    <ul class="items">
      <li><a class="scrollTo" href="#welcome">MediaMakers</a></li>
      <li><a class="scrollTo" href="#video">Видео</a></li>
      <li><a class="scrollTo" href="#schedule">Расписание</a></li>
      <li><a class="scrollTo" href="#registration">Регистрация</a></li>
      <li><a class="scrollTo" href="#address">Адрес</a></li>
      <li><a class="scrollTo" href="#partners">Партнеры</a></li>
      <li><a class="scrollTo" href="#credits">Титры</a></li>
    </ul>
  </menu>

  <section class="welcome" id="welcome">

    <div class="centerizer">

      <div class="logo"></div>

      <aside>
        <h2>© Меняем медиаландшафт</h2>
        <p>
          Первая конференция о людях, меняющих
          ландшафт медиа. Людях, создающих
          инновационные проекты и продукты.
          Людях, переворачивающих привычную
          среду с ног на голову.
        </p>
        <p>29 октября в DI Telegraph.</p>
      </aside>

      <div class="share social-likes social-likes_single" data-counters="no" data-title="<%= @description %>" data-single-title="поделиться">
        <div class="facebook" title="Поделиться ссылкой на Фейсбуке">facebook</div>
        <div class="twitter" title="Поделиться ссылкой в Твиттере">twitter</div>
        <div class="vkontakte" title="Поделиться ссылкой во Вконтакте">вконтакте</div>
      </div>

      <div class="chevron" id="chevron"></div>

    </div>
  </section>

  <section class="video" id="video">
    <div class="centerizer">
      <iframe class="vplayer" src="http://player.vimeo.com/video/113141142?api=1&autoplay=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <div class="centerizer">
      <iframe class="vplayer" src="http://player.vimeo.com/video/110471944?api=1&autoplay=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <div class="centerizer">
      <iframe class="vplayer" src="http://player.vimeo.com/video/108987997?api=1&autoplay=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </section>

  <section class="schedule" id="schedule">
    <header class="top">
      <aside>
        <a href="http://slon.ru" class="logo slon" target="_blank"></a>
        <a href="http://rusventure.ru/ru" class="logo rbk" target="_blank"></a>
      </aside>
      <h2>Расписание</h2>
    </header>

    <section class="session">
      <ul>
        <li class="noBorder">
          <div class="wrapper">
            <div class="time">9<span>30</span> – 09<span>50</span></div>
            <div class="line"><hr noshade></div>
            <div class="about"><h4>Сбор гостей</h4></div>
          </div>
        </li>
      </ul>
    </section>

    <section class="session">
      <header id="intro">
        <div class="left"></div>
        <div class="right"><span>Вступительное слово</span></div>
      </header>

      <ul>
        <li>
          <div class="wrapper">
            <div class="time">9<span>50</span> – 9<span>55</span></div>
            <div class="photo">
              <img src="images/presenters/Potapov.jpg" />
            </div>
            <div class="about">
              <h4>Александр Потапов</h4>
              <p>Заместитель генерального директора — исполнительный директор, член правления <a href="http://rusventure.ru/ru" target="_blank">РВК</a></p>
            </div>
          </div>
        </li>

        <li class="noBorder">
          <div class="wrapper">
            <div class="time">9<span>55</span> – 10<span>00</span></div>
            <div class="photo">
              <img src="images/presenters/Kashulinsky.jpg">
            </div>
            <div class="about">
              <h4>Максим Кашулинский</h4>
              <p>Генеральный директор <a href="http://slon.ru" target="_blank">Slon.ru</a></p>
            </div>
          </div>
        </li>
      </ul>
    </section>

    <section class="blackSeparator">
      <p>
        После каждого выступления спикера —<br>
        10-минутный сет вопросов и ответов
      </p>
    </section>

    <section class="session">
      <header id="firstSession">
        <div class="left"><span>Сессия 1</span></div>
        <div class="right"><span>Технологии и медиа будущего</span></div>
      </header>

      <ul>
        <li>
          <div class="wrapper">
            <div class="time">10<span>00</span> – 10<span>10</span></div>
            <div class="photo">
              <img src="images/presenters/Navosha.jpg">
            </div>
            <div class="about">
              <h4>Дмитрий Навоша</h4>
              <p>Генеральный директор <a href="http://sports.ru" target="_blank">Sports.ru</a></p>
              <p class="descriptor"><a href="http://slideshare.net/mediamakersofficiial/01-navosha" target="_blank">«Agile Media Business: вызовы и возможности издателей цифровой эпохи»</a></p>
            </div>
          </div>
        </li>

        <li>
          <div class="wrapper">
            <div class="time">10<span>20</span> – 10<span>30</span></div>
            <div class="photo">
              <img src="images/presenters/Ametov.jpg">
            </div>
            <div class="about">
              <h4>Алексей Аметов</h4>
              <p>Издатель и сооснователь <a href="http://www.lookatme.ru/" target="_blank">Look At Media</a></p>
              <p class="descriptor"><a href="http://slideshare.net/mediamakersofficiial/02-ametov" target="_blank">«Новый первый экран: медиа в эпоху всеобщей “мобилизации”»</a></p>
            </div>
          </div>
        </li>

        <li>
          <div class="wrapper">
            <div class="time">10<span>40</span> – 10<span>50</span></div>
            <div class="photo">
              <img src="images/presenters/Karpov.jpg">
            </div>
            <div class="about">
              <h4>Дмитрий Карпов</h4>
              <p>Куратор курса «Дизайн в интерактивной среде» <a href="http://www.britishdesign.ru/" target="_blank">БВШД</a></p>
              <p class="descriptor"><a href="http://slideshare.net/mediamakersofficiial/03-karpov" target="_blank">«От массовых медиа — к интимным»</a></p>
            </div>
          </div>
        </li>

        <li>
          <div class="wrapper">
            <div class="time">11<span>00</span> – 11<span>10</span></div>
            <div class="photo">
              <img src="images/presenters/Gladkoborodov.jpg">
            </div>
            <div class="about">
              <h4>Антон Гладкобородов</h4>
              <p>Основатель <a href="http://coub.com/" target="_blank">Coub</a></p>
              <p class="descriptor"><a href="http://slideshare.net/mediamakersofficiial/04-gladkoborodov" target="_blank">«Преимущества ограничения медийного формата»</a></p>
            </div>
          </div>
        </li>

        <li class="noBorder">
          <div class="wrapper">
            <div class="time">11<span>20</span> – 11<span>30</span></div>
            <div class="photo">
              <img src="images/presenters/Kirakosyan.jpg">
            </div>
            <div class="about">
              <h4>Артем Киракосьян</h4>
              <p>Вице-президент по маркетингу <a href="http://www.okko.tv" target="_blank">Okko</a></p>
              <p class="descriptor"><a href="http://slideshare.net/mediamakersofficiial/05-kirakosyan" target="_blank">«Новая телевизионная медиаплатформа. Телевидение будущего»</a></p>
            </div>
          </div>
        </li>
      </ul>
    </section>

    <section class="session">
      <header>
        <div class="left"><span>On-Stage</span></div>
        <div class="right"><span>интервью</span></div>
      </header>

      <ul>
        <li>
          <div class="wrapper">
            <div class="time">11<span>45</span> – 12<span>30</span></div>
            <div class="photo">
              <img src="images/presenters/Kaplun.jpg">
            </div>
            <div class="about">
              <h4>Герман Каплун</h4>
              <p>Партнер фонда <a href="http://www.tmtinvestments.com/" target="_blank">TMT Investments</a>, экс-гендиректор <a href="http://www.rbc.ru/" target="_blank">РБК</a></p>
              <p class="descriptor">«Новые медиа: чего ждут инвесторы?»</p>
            </div>
          </div>
        </li>

        <li class="noBorder">
          <div class="wrapper">
            <div class="time">12<span>30</span> – 13<span>00</span></div>
            <div class="line"><hr noshade></div>
            <div class="about"><h4>Кофе-брейк</h4></div>
          </div>
        </li>
      </ul>
    </section>

    <section class="session">
      <header>
        <div class="left"><span>Сессия 2</span></div>
        <div class="right"><span>Бизнес-модели новых медиа</span></div>
      </header>

      <ul>
        <li>
          <div class="wrapper">
            <div class="time">13<span>00</span> – 13<span>10</span></div>
            <div class="photo">
              <img src="images/presenters/Kiryushina.jpg">
            </div>
            <div class="about">
              <h4>Елена Кирюшина</h4>
              <p>Руководитель интернет-редакции <a href="http://tvrain.ru/" target="_blank">Телеканала Дождь</a></p>
              <p class="descriptor"><a href="http://slideshare.net/mediamakersofficiial/06-kiryushina" target="_blank">«Как продавать подписку: 5 простых шагов»</a></p>
            </div>
          </div>
        </li>

        <li>
          <div class="wrapper">
            <div class="time">13<span>20</span> – 13<span>30</span></div>
            <div class="photo">
              <img src="images/presenters/Ilichev.jpg">
            </div>
            <div class="about">
              <h4>Михаил Ильичев</h4>
              <p>Генеральный директор <a href="http://dreamindustries.co/" target="_blank">Dream Industries</a></p>
              <p class="descriptor"><a href="http://slideshare.net/mediamakersofficiial/07-ilichev" target="_blank">«Есть ли шансы построить работающую экономику вокруг онлайн-музыки?»</a></p>
            </div>
          </div>
        </li>

        <li>
          <div class="wrapper">
            <div class="time">13<span>40</span> – 13<span>50</span></div>
            <div class="photo">
              <img src="images/presenters/Romanovsky.jpg">
            </div>
            <div class="about">
              <h4>Паша Романовский</h4>
              <p>Инвестор, основатель <a href="http://socialist.pro/" target="_blank">Socialist Group</a></p>
              <p class="descriptor"><a href="http://slideshare.net/mediamakersofficiial/08-romanovskiy" target="_blank">«Back to the future: контент, технологии, монетизация»</a></p>
            </div>
          </div>
        </li>

        <li>
          <div class="wrapper">
            <div class="time">14<span>10</span> – 14<span>20</span></div>
            <div class="photo">
              <img src="images/presenters/Sus.jpg">
            </div>
            <div class="about">
              <h4>Сергей Сус</h4>
              <p>Директор по развитию <a href="http://action-media.ru/" target="_blank">Актион Медиа</a></p>
              <p class="descriptor"><a href="http://slideshare.net/mediamakersofficiial/09-media-makers" target="_blank">«Как построить бизнес целиком на подписке»</a></p>
            </div>
          </div>
        </li>

        <li>
          <div class="wrapper">
            <div class="time">14<span>20</span> – 14<span>30</span></div>
            <div class="photo">
              <img src="images/presenters/Podlesnova.jpg">
            </div>
            <div class="about">
              <h4>Мария Подлеснова</h4>
              <p>CEO <a href="http://rusbase.vc" target="_blank">RusBase</a></p>
              <p class="descriptor"><a href="http://slideshare.net/mediamakersofficiial/10-podlesnova" target="_blank">«Нишевые проекты: как выжить в мире больших медиа?»</a></p>
            </div>
          </div>
        </li>

        <li>
          <div class="wrapper">
            <div class="time">14<span>40</span> – 14<span>50</span></div>
            <div class="photo">
              <img src="images/presenters/Lamonov.jpg">
            </div>
            <div class="about">
              <h4>Дмитрий Ламонов</h4>
              <p>Менеджер по работе с ключевыми клиентами <a href="http://www.google.ru" target="_blank">Google</a></p>
              <p class="descriptor"><a href="http://slideshare.net/mediamakersofficiial/11-lamonov" target="_blank">«Programmatic advertising: что видим сейчас и что ожидаем в 2015 году»</a></p>
            </div>
          </div>
        </li>

        <li>
          <div class="wrapper">
            <div class="time">15<span>00</span> – 15<span>10</span></div>
            <div class="photo">
              <img src="images/presenters/Shreyder.jpg">
            </div>
            <div class="about">
              <h4>Владимир Шрейдер</h4>
              <p>Основатель <a href="http://glitche.com/" target="_blank">Glitché</a> и <a href="http://slmmsk.com/" target="_blank">SLMMSK</a></p>
              <p class="descriptor">«Против правил: от субкультурного феномена к топам AppStore»</p>
            </div>
          </div>
        </li>

        <li class="noBorder">
          <div class="wrapper">
            <div class="time">15<span>10</span> – 16<span>00</span></div>
            <div class="line"><hr noshade></div>
            <div class="about"><h4>Коктейль</h4></div>
          </div>
        </li>
      </ul>
    </section>
  </section>

  <section class="registration" id="registration">

    <section class="mobileBackground"></section>

    <section class="videoBackground">
      <video id="registrationVideoBackground" src="videos/registration.mp4" type="video/mp4" autoplay="true" loop="true" poster="images/welcome_bg.jpg"></video>
    </section>

    <div class="centerizer">

      <div class="logo1"></div>
      <h2>
        Станьте гостем MediaMakers, зарегистрировавшись<br>
        на официальной странице мероприятия на Exchang.es</h2>
        <a class="registerButton" target="_blank" href="https://exchang.es/e/oghlianities-miedia-mieniaiutsia-prievrashchaias-v-iedinyi-dinamichnyi-potok-informatsii-priamo-u-nas-na-ghlazakh">зарегистрироваться</a>
      <div class="logo2"></div>

    </div>
  </section>

  <section class="address" id="address">
    <header class="map" id="map" data-latitude="55.758478" data-longitude="37.61053"></header>

    <footer>
      <div class="diTelegraph">
        <a href="http://ditelegraph.com/" target="_blank">
          <img src="images/di_telegraph_logo.png"/>
        </a>
      </div>

      <p>
        Ждем вас <strong>29 октября</strong> в креативном
        пространстве <strong><a href="http://ditelegraph.com/" target="blank">DI Telegraph</a></strong> по адресу:
        Москва, <strong>ул. Тверская, д.7</strong><br>
        Вход со стороны Газетного переулка
        9 подъезд, 5 этаж
      </p>
    </footer>
  </section>

  <section class="partners" id="partners">
    <header>
      <h2><span>Партнеры</span></h2>
    </header>

    <ul class="orgs">
      <li>
        <a href="http://slon.ru/" class="logo slon" target="_blank"></a>
        <p>организатор конференции</p>
      </li>
      <li>
        <a href="http://www.rusventure.ru/ru/" class="logo rbk" target="_blank"></a>
        <p>учредитель конференции</p>
      </li>
    </ul>

    <footer>
      <hr noshade>

      <ul>
        <li>
          <div class="logo">
            <a href="http://cosmotheca.com" class="logo cosmotheca" target="_blank"></a>
          </div>
          <p>арома-партнер</p>
        </li>
        <li>
          <div class="logo">
            <a href="http://seryab.ru" class="logo koxx" target="_blank"></a>
          </div>
          <p>бодрящий партнер</p>
        </li>
        <li>
          <div class="logo">
            <a href="http://facebook.com/DoubleBCoffeeTea" class="logo dablbi" target="_blank"></a>
          </div>
          <p>coffee&tea-партнер</p>
        </li>
      </ul>
    </footer>

    <header class="infopartners">
      <h2><span>информационные партнеры</span></h2>
    </header>

    <footer class="infopartners">
      <ul>
        <li>
          <div class="logo">
            <a href="http://the-village.ru" class="logo village" target="_blank"></a>
          </div>
        </li>
        <li>
          <div class="logo">
            <a href="http://lookatme.ru" class="logo lam" target="_blank"></a>
          </div>
        </li>
        <li>
          <div class="logo">
            <a href="http://akarussia.ru" class="logo aka" target="_blank"></a>
          </div>
        </li>
      </ul>

      <ul>
        <li>
          <div class="logo">
            <a href="http://bg.ru" class="logo bg" target="_blank"></a>
          </div>
        </li>
        <li>
          <div class="logo">
            <a href="http://tvrain.ru" class="logo rain" target="_blank"></a>
          </div>
        </li>
        <li>
          <div class="logo">
            <a href="http://apparat.cc" class="logo apparat" target="_blank"></a>
          </div>
        </li>
      </ul>

      <ul>
        <li>
          <div class="logo">
            <a href="http://corpmedia.ru" class="logo akmp" target="_blank"></a>
          </div>
        </li>
        <li>
          <div class="logo">
            <a href="http://siliconrus.com" class="logo cp" target="_blank"></a>
          </div>
        </li>
        <li>
          <div class="logo">
            <a href="http://theoryandpractice.ru" class="logo tandp" target="_blank"></a>
          </div>
        </li>
        <li>
          <div class="logo">
            <a href="http://iidf.ru" class="logo frii" target="_blank"></a>
          </div>
        </li>
      </ul>
    </footer>
  </section>

  <section class="credits" id="credits">
    <div class="logoWrapper">
      <div class="logo"></div>
    </div>

    <div class="centerizer">
      <aside>
        <div class="share social-likes social-likes_single" data-counters="no" data-title="<%= @description %>" data-single-title="поделиться">
          <div class="facebook" title="Поделиться ссылкой на Фейсбуке">facebook</div>
          <div class="twitter" title="Поделиться ссылкой в Твиттере">twitter</div>
          <div class="vkontakte" title="Поделиться ссылкой во Вконтакте">вконтакте</div>
        </div>

        <h2>Над проектом работали</h2>

        <p><a href="http://facebook.com/valdis.lovethis">Валдис Белых <span class="grey">Арт-директор</span></a></p>
        <p><a href="http://zakharday.com">Захар День <span class="grey">Веб-разработчик</span></a></p>
        <p><a href="http://facebook.com/tekhlikidi">Илья Техликиди <span class="grey">Креативный продюсер</span></a></p>
        <br>
        <p><a href="http://facebook.com/thegreatfruit">Branding, Web Design, Video Production by <span class="grey">the Great Fruit®</span></a></p>

        <div class="greatFruit">
          <a href="http://www.facebook.com/thegreatfruit" target="_blank">
            <img src="images/gf_logo.png">
          </a>
        </div>
      </aside>
    </div>

    <footer>
      <div class="logo"></div>
      <p>
        MediaMakers<br>
        © 2014 — 2015<br>
        <a href="mailto:connect@mediamakers.ru">connect@mediamakers.ru</a>
      </p>
    </footer>
  </section>

</body>
</html>
