/* line 5, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'PT Mono';
  src: url(../fonts/PTM55F_W.eot);
  src: local("PT Mono"), url(../fonts/PTM55F_W.eot?#iefix) format("embedded-opentype"), url(../fonts/PTM55F_W.woff) format("woff"), url(../fonts/ptf55m_w.ttf) format("truetype"), url(../fonts/PTM55F_W.svg#PTMono-Regular) format("svg");
}
@font-face {
  font-family: 'PT Mono';
  src: url(../fonts/PTM75F_W.eot);
  font-style: normal;
  font-weight: bold;
  src: local("PT Mono Bold"), url(../fonts/PTM75F_W.eot?#iefix) format("embedded-opentype"), url(../fonts/PTM75F_W.woff) format("woff"), url(../fonts/PTM75F_W.ttf) format("truetype"), url(../fonts/PTM75F_W.svg#PTMono-Bold) format("svg");
}
/* line 1, ../sass/_layout.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  letter-spacing: 2px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/* line 11, ../sass/_layout.scss */
body {
  font-family: 'PT Mono', 'Courier New', Courier, monospace;
  font-size: 14px;
}

/* line 16, ../sass/_layout.scss */
a {
  color: inherit;
}

/* line 17, ../sass/_layout.scss */
strong {
  font-weight: bold;
}

/* line 19, ../sass/_layout.scss */
hr {
  border-color: #cccccc;
  border-width: 1px 0 0 0;
  border-style: solid;
}

/* line 25, ../sass/_layout.scss */
.videoBackground {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 29, ../sass/_layout.scss */
.videoBackground video {
  position: absolute;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}

/* line 37, ../sass/_layout.scss */
body > .videoBackground,
body > .mobileBackground {
  position: fixed;
  z-index: -1;
}

/* line 44, ../sass/_layout.scss */
.logo.slon, .logo.rbk {
  display: block;
}
/* line 46, ../sass/_layout.scss */
.logo.slon {
  width: 53px;
  height: 20px;
  background-image: url(../images/slon_logo.png);
}
/* line 52, ../sass/_layout.scss */
.logo.rbk {
  width: 66px;
  height: 26px;
  background-image: url(../images/rbk_logo.png);
}

/* line 59, ../sass/_layout.scss */
.centerizer {
  position: relative;
  z-index: 1;
  margin: 0 auto;
}
/* line 64, ../sass/_layout.scss */
.centerizer aside {
  width: 440px;
  margin-left: 250px;
  text-align: left !important;
}

/* line 71, ../sass/_layout.scss */
html,
body,
.centerizer,
.topScreenWrapper,
.welcome,
.promo,
.registration,
.address,
.credits {
  width: 100%;
  height: 100%;
}

/* line 83, ../sass/_layout.scss */
.schedule,
.address,
.partners {
  background-color: white;
}

/* line 89, ../sass/_layout.scss */
.black {
  background-color: black;
}
/* line 92, ../sass/_layout.scss */
.black .time,
.black .about h4,
.black .about p {
  color: white !important;
}

/* line 1, ../sass/_share.scss */
.social-likes_single-w {
  display: block;
  width: 188px;
  height: 56px;
  border: 3px solid white;
  text-align: center;
  line-height: 50px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  color: white;
}

/* line 14, ../sass/_share.scss */
.social-likes {
  width: 188px;
  margin-top: -3px;
  margin-left: -3px;
  border: 3px solid white;
}

/* line 21, ../sass/_share.scss */
.social-likes > * {
  visibility: hidden;
}

/* line 25, ../sass/_share.scss */
.social-likes_visible > * {
  visibility: inherit;
}

/* line 27, ../sass/_share.scss */
.social-likes__widget:before,
.social-likes__widget:after {
  display: none !important;
}

/* line 32, ../sass/_share.scss */
.social-likes__button,
.social-likes__icon {
  text-decoration: none;
  text-rendering: optimizeLegibility;
}

/* line 38, ../sass/_share.scss */
.social-likes__button {
  display: inline-block;
  margin: 0;
  outline: 0;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 50, ../sass/_share.scss */
.social-likes_vertical .social-likes__widget {
  display: block;
}

/* line 53, ../sass/_share.scss */
.social-likes_single-w {
  position: relative;
  display: inline-block;
}

/* line 58, ../sass/_share.scss */
.social-likes_single {
  position: absolute;
  text-align: center;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0 .11s, opacity .1s ease-in;
  transition: visibility 0s .11s, opacity .1s ease-in;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 70, ../sass/_share.scss */
.social-likes_single.social-likes_opened {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .15s ease-out;
  transition: opacity .15s ease-out;
}

/* line 77, ../sass/_share.scss */
.social-likes__button_single {
  position: relative;
}

/* line 79, ../sass/_share.scss */
.social-likes__widget:hover,
.social-likes__widget:active,
.social-likes__widget:focus {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  cursor: pointer;
}

/* line 88, ../sass/_share.scss */
.social-likes_single {
  background: #fff;
  color: black;
}

/* line 93, ../sass/_share.scss */
.social-likes_single .social-likes__button {
  display: block;
}

/* line 97, ../sass/_share.scss */
.social-likes__widget_single:hover,
.social-likes__widget_single:active,
.social-likes__widget_single:focus,
.social-likes__widget_active {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 106, ../sass/_share.scss */
.social-likes_opened .social-likes__widget_single:hover,
.social-likes__widget_single:hover {
  background: white;
  color: black;
}

/* line 112, ../sass/_share.scss */
.social-likes_opened .social-likes__widget_single:focus,
.social-likes_opened .social-likes__widget_active {
  background: none;
  color: white;
}

/* line 118, ../sass/_share.scss */
.social-likes__widget_facebook:hover,
.social-likes__widget_facebook:active,
.social-likes__widget_facebook:focus {
  background: #425497;
  border-color: #425497;
}

/* line 125, ../sass/_share.scss */
.social-likes__widget_twitter:hover,
.social-likes__widget_twitter:active,
.social-likes__widget_twitter:focus {
  background: #00b7ec;
  border-color: #00b7ec;
}

/* line 132, ../sass/_share.scss */
.social-likes__widget_vkontakte:hover,
.social-likes__widget_vkontakte:active,
.social-likes__widget_vkontakte:focus {
  background: #526e8f;
  border-color: #526e8f;
}

/* line 1, ../sass/_welcome.scss */
.welcome {
  color: white;
}
/* line 4, ../sass/_welcome.scss */
.welcome .centerizer {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 960px;
  margin: auto;
  z-index: 1;
}
/* line 15, ../sass/_welcome.scss */
.welcome .logo {
  width: 381px;
  height: 170px;
  margin-left: 194px;
  background: url(../images/welcome_logo.png);
}
/* line 22, ../sass/_welcome.scss */
.welcome h2 {
  font-size: 21px;
}
/* line 26, ../sass/_welcome.scss */
.welcome p {
  margin-top: 15px;
  font-size: 16px;
  line-height: 20px;
}
/* line 32, ../sass/_welcome.scss */
.welcome .chevron {
  width: 32px;
  height: 21px;
  background: url(../images/chevron.png);
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 41, ../sass/_welcome.scss */
.welcome .chevron:hover {
  margin-top: 60px;
}

/* line 1, ../sass/_promo.scss */
.promo {
  -moz-transition-property: margin;
  -o-transition-property: margin;
  -webkit-transition-property: margin;
  transition-property: margin;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 6, ../sass/_promo.scss */
.promo .centerizer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 13, ../sass/_promo.scss */
.promo .promoGif {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 500px;
  height: 500px;
  margin: auto;
  background-image: url(../images/promo.gif);
}
/* line 22, ../sass/_promo.scss */
.promo .promoGif .playButtonCircle {
  width: 100px;
  height: 100px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 29, ../sass/_promo.scss */
.promo .promoGif .playButtonCircle svg:hover {
  cursor: pointer;
}
/* line 32, ../sass/_promo.scss */
.promo .promoGif .playButtonCircle svg:hover path {
  fill: black;
}
/* line 35, ../sass/_promo.scss */
.promo .promoGif .playButtonCircle path {
  fill: white;
}
/* line 38, ../sass/_promo.scss */
.promo .promoGif h2 {
  margin-top: 28px;
  font-size: 21px;
  color: white;
  text-align: center;
}

/* line 1, ../sass/_video.scss */
.video {
  width: 100%;
  height: auto;
  padding: 25px 0;
}
/* line 6, ../sass/_video.scss */
.video .centerizer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 25px 0;
}
/* line 10, ../sass/_video.scss */
.video .centerizer iframe {
  min-width: 1000px;
  min-height: 565px;
  margin: auto;
}

/* line 1, ../sass/_schedule.scss */
.schedule {
  position: relative;
  z-index: 2;
  padding-bottom: 160px;
}
/* line 6, ../sass/_schedule.scss */
.schedule header.top {
  position: relative;
  padding-top: 53px;
  font-size: 24px;
  font-weight: bold;
}
/* line 12, ../sass/_schedule.scss */
.schedule header.top h2 {
  text-align: center;
  font-weight: bold;
  color: #1a1a1a;
}
/* line 18, ../sass/_schedule.scss */
.schedule header.top aside {
  position: absolute;
  top: 47px;
  right: 68px;
}
/* line 24, ../sass/_schedule.scss */
.schedule header.top .logo {
  display: inline-block;
}
/* line 27, ../sass/_schedule.scss */
.schedule header.top .logo.slon {
  margin-right: 20px;
}
/* line 31, ../sass/_schedule.scss */
.schedule section.blackSeparator {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 170px;
  font-size: 24px;
  line-height: 29px;
  background-color: black;
  color: white;
  text-align: center;
}
/* line 40, ../sass/_schedule.scss */
.schedule section.blackSeparator p {
  margin: auto;
}
/* line 44, ../sass/_schedule.scss */
.schedule section.session header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 24px;
  margin-top: 41px;
  border-top: 1px solid #cccccc;
}
/* line 51, ../sass/_schedule.scss */
.schedule section.session header .left, .schedule section.session header .right {
  margin-top: -12px;
}
/* line 54, ../sass/_schedule.scss */
.schedule section.session header .left span, .schedule section.session header .right span {
  background-color: white;
}
/* line 59, ../sass/_schedule.scss */
.schedule section.session header .left {
  width: 274px;
  text-align: right;
}
/* line 63, ../sass/_schedule.scss */
.schedule section.session header .left span {
  padding-left: 30px;
  padding-right: 23px;
  color: #1a1a1a;
}
/* line 70, ../sass/_schedule.scss */
.schedule section.session header .right {
  width: 686px;
  font-weight: bold;
  text-transform: uppercase;
  color: #1a1a1a;
}
/* line 76, ../sass/_schedule.scss */
.schedule section.session header .right span {
  padding-right: 30px;
}
/* line 83, ../sass/_schedule.scss */
.schedule section.session header#intro .left, .schedule section.session header#special .left {
  width: 244px;
}
/* line 87, ../sass/_schedule.scss */
.schedule section.session header#intro .right, .schedule section.session header#special .right {
  width: 716px;
}
/* line 90, ../sass/_schedule.scss */
.schedule section.session header#intro .right span, .schedule section.session header#special .right span {
  padding-left: 30px;
}
/* line 96, ../sass/_schedule.scss */
.schedule section.session header#firstSession {
  margin-top: 70px;
}
/* line 101, ../sass/_schedule.scss */
.schedule section.session ul {
  width: 100%;
}
/* line 105, ../sass/_schedule.scss */
.schedule section.session ul li:first-child {
  padding: 25px 0 0;
}
/* line 107, ../sass/_schedule.scss */
.schedule section.session ul li .wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 960px;
  margin: 0 auto;
  padding: 25px 0;
}
/* line 113, ../sass/_schedule.scss */
.schedule section.session ul li .wrapper a {
  text-decoration: underline;
}
/* line 119, ../sass/_schedule.scss */
.schedule .time {
  width: 150px;
  font-size: 18px;
  color: #1a1a1a;
}
/* line 124, ../sass/_schedule.scss */
.schedule .time span {
  font-size: 10px;
  text-decoration: underline;
  vertical-align: top;
  line-height: 12px;
}
/* line 132, ../sass/_schedule.scss */
.schedule .photo, .schedule .line {
  width: 124px;
}
/* line 134, ../sass/_schedule.scss */
.schedule .photo {
  width: 124px;
}
/* line 137, ../sass/_schedule.scss */
.schedule .photo img {
  width: 97px;
  height: 97px;
}
/* line 140, ../sass/_schedule.scss */
.schedule .line {
  padding-right: 27px;
}
/* line 144, ../sass/_schedule.scss */
.schedule .about {
  width: 686px;
}
/* line 147, ../sass/_schedule.scss */
.schedule .about h4 {
  font-size: 18px;
  color: #1a1a1a;
}
/* line 152, ../sass/_schedule.scss */
.schedule .about p {
  font-size: 14px;
  line-height: 21px;
  color: #1a1a1a;
}
/* line 157, ../sass/_schedule.scss */
.schedule .about p.descriptor {
  margin-top: 10px;
}

/* line 1, ../sass/_registration.scss */
.registration {
  background-image: url(../images/registration_bg.jpg);
}
/* line 4, ../sass/_registration.scss */
.registration .videoBackground,
.registration .mobileBackground {
  position: absolute;
}
/* line 7, ../sass/_registration.scss */
.registration .centerizer {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 17, ../sass/_registration.scss */
.registration h2 {
  font-size: 21px;
  line-height: 25px;
  color: white;
  text-align: center;
}
/* line 24, ../sass/_registration.scss */
.registration .logo1 {
  width: 37px;
  height: 103px;
  margin-top: 80px;
  background-image: url(../images/registration_logo_1.png);
}
/* line 31, ../sass/_registration.scss */
.registration .logo2 {
  width: 71px;
  height: 32px;
  background-image: url(../images/registration_logo_2.png);
}
/* line 37, ../sass/_registration.scss */
.registration .registerButton {
  width: 268px;
  height: 79px;
  border: 3px solid black;
  text-align: center;
  line-height: 74px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 47, ../sass/_registration.scss */
.registration .registerButton:hover {
  background: black;
  color: white;
  cursor: pointer;
}

/* line 3, ../sass/_address.scss */
.address header.map {
  position: relative;
  width: 100%;
  height: 60%;
  background-image: url(../images/map_mock.jpg);
}
/* line 9, ../sass/_address.scss */
.address header.map #map {
  width: 100%;
  height: 100%;
}
/* line 15, ../sass/_address.scss */
.address footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 450px;
  height: 40%;
  margin: 0 auto;
}
/* line 24, ../sass/_address.scss */
.address .diTelegraph {
  margin-bottom: 20px;
}
/* line 26, ../sass/_address.scss */
.address p {
  line-height: 17px;
}
/* line 29, ../sass/_address.scss */
.address p a:hover {
  text-decoration: underline;
}

/* line 1, ../sass/_partners.scss */
.partners {
  width: 100%;
}
/* line 4, ../sass/_partners.scss */
.partners header {
  width: 960px;
  height: 62px;
  padding-top: 47px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-bottom: 1px solid #cccccc;
}
/* line 13, ../sass/_partners.scss */
.partners header h2 {
  line-height: 30px;
}
/* line 16, ../sass/_partners.scss */
.partners header h2 span {
  padding: 0 30px;
  background-color: white;
}
/* line 23, ../sass/_partners.scss */
.partners ul.orgs {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  height: 400px;
}
/* line 29, ../sass/_partners.scss */
.partners ul.orgs li {
  text-align: center;
}
/* line 33, ../sass/_partners.scss */
.partners ul.orgs li:first-child {
  padding-top: 60px;
}
/* line 34, ../sass/_partners.scss */
.partners ul.orgs li:last-child {
  padding-bottom: 60px;
}
/* line 36, ../sass/_partners.scss */
.partners ul.orgs li .logo {
  margin: 0 auto;
}
/* line 37, ../sass/_partners.scss */
.partners ul.orgs li p {
  margin-top: 20px;
}
/* line 41, ../sass/_partners.scss */
.partners footer {
  width: 960px;
  margin: 0 auto;
}
/* line 45, ../sass/_partners.scss */
.partners footer.infopartners {
  padding-bottom: 120px;
}
/* line 48, ../sass/_partners.scss */
.partners footer.infopartners ul {
  padding: 60px 0 0;
}
/* line 53, ../sass/_partners.scss */
.partners footer hr {
  width: 960px;
}
/* line 55, ../sass/_partners.scss */
.partners footer ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: no-wrap;
  -moz-box-lines: no-wrap;
  -ms-flex-wrap: no-wrap;
  -webkit-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  width: 80%;
  margin: 0 auto;
  padding: 60px 0 30px;
}
/* line 65, ../sass/_partners.scss */
.partners footer ul li {
  -webkit-flex-basis: 300px;
  flex-basis: 300px;
  text-align: center;
}
/* line 69, ../sass/_partners.scss */
.partners footer ul li .logo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 90px;
  margin: auto;
}
/* line 74, ../sass/_partners.scss */
.partners footer ul li .logo a {
  display: block;
}
/* line 78, ../sass/_partners.scss */
.partners footer ul li .logo .koxx {
  width: 40px;
  height: 89px;
  background-image: url(../images/partners_koxx.jpg);
}
/* line 84, ../sass/_partners.scss */
.partners footer ul li .logo .dablbi {
  width: 109px;
  height: 89px;
  background-image: url(../images/partners_dablbi.jpg);
}
/* line 90, ../sass/_partners.scss */
.partners footer ul li .logo .cosmotheca {
  width: 205px;
  height: 22px;
  background-image: url(../images/partners_cosmotheca.jpg);
}
/* line 97, ../sass/_partners.scss */
.partners footer ul li .logo .village {
  width: 106px;
  height: 38px;
  background-image: url(../images/partners_logo_village.jpg);
}
/* line 103, ../sass/_partners.scss */
.partners footer ul li .logo .lam {
  width: 179px;
  height: 16px;
  background-image: url(../images/partners_logo_lam.jpg);
}
/* line 109, ../sass/_partners.scss */
.partners footer ul li .logo .aka {
  width: 108px;
  height: 77px;
  background-image: url(../images/partners_logo_aka.jpg);
}
/* line 115, ../sass/_partners.scss */
.partners footer ul li .logo .bg {
  width: 172px;
  height: 22px;
  background-image: url(../images/partners_logo_bg.jpg);
}
/* line 121, ../sass/_partners.scss */
.partners footer ul li .logo .rain {
  width: 89px;
  height: 39px;
  background-image: url(../images/partners_logo_rain.jpg);
}
/* line 127, ../sass/_partners.scss */
.partners footer ul li .logo .apparat {
  width: 121px;
  height: 16px;
  background-image: url(../images/partners_logo_apparat.jpg);
}
/* line 133, ../sass/_partners.scss */
.partners footer ul li .logo .cp {
  width: 61px;
  height: 45px;
  background-image: url(../images/partners_logo_cp.jpg);
}
/* line 139, ../sass/_partners.scss */
.partners footer ul li .logo .akmp {
  width: 82px;
  height: 29px;
  background-image: url(../images/partners_logo_akmp.jpg);
}
/* line 145, ../sass/_partners.scss */
.partners footer ul li .logo .frii {
  width: 74px;
  height: 21px;
  background-image: url(../images/partners_logo_frii.jpg);
}
/* line 151, ../sass/_partners.scss */
.partners footer ul li .logo .tandp {
  width: 176px;
  height: 18px;
  background-image: url(../images/partners_logo_tandp.jpg);
}
/* line 158, ../sass/_partners.scss */
.partners footer ul li p {
  margin-top: 28px;
  line-height: 17px;
}

/* line 1, ../sass/_credits.scss */
.credits {
  position: relative;
  background-color: #333333;
}
/* line 5, ../sass/_credits.scss */
.credits > .logoWrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
}
/* line 10, ../sass/_credits.scss */
.credits > .logoWrapper .logo {
  position: absolute;
  width: 54px;
  height: 71px;
  margin: -30px calc(50% - 27px);
  background-image: url(../images/credits_logo_1.jpg);
}
/* line 19, ../sass/_credits.scss */
.credits .centerizer {
  height: calc(100% - 120px);
}
/* line 22, ../sass/_credits.scss */
.credits .centerizer aside {
  width: 100%;
  margin: 0;
  padding: 40px;
}
/* line 27, ../sass/_credits.scss */
.credits .centerizer aside .social-likes_single-w {
  display: block;
  margin: 0 auto;
}
/* line 32, ../sass/_credits.scss */
.credits .centerizer aside .greatFruit {
  display: block;
  margin-top: 30px;
}
/* line 38, ../sass/_credits.scss */
.credits .centerizer h2 {
  margin-top: 55px;
  font-size: 18px;
}
/* line 43, ../sass/_credits.scss */
.credits .centerizer p {
  line-height: 17px;
}
/* line 46, ../sass/_credits.scss */
.credits .centerizer p:first-of-type {
  margin-top: 42px;
}
/* line 49, ../sass/_credits.scss */
.credits .centerizer .grey {
  color: #4d4d4d;
}
/* line 52, ../sass/_credits.scss */
.credits footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 960px;
  height: 120px;
  margin: 0 auto;
  padding: 38px 0;
  border-top: 1px solid black;
}
/* line 61, ../sass/_credits.scss */
.credits footer .logo {
  position: absolute;
  width: 98px;
  height: 44px;
  right: 0;
  background-image: url(../images/credits_logo_2.png);
}
/* line 69, ../sass/_credits.scss */
.credits footer p {
  color: white;
}
/* line 72, ../sass/_credits.scss */
.credits footer p a {
  text-decoration: underline;
}
