.address {

  header.map {
    position: relative;
    width: 100%;
    height: 60%;
    background-image: image-url('map_mock.jpg');

    #map {
      width: 100%;
      height: 100%;
    }
  }

  footer {
    @include display-flex();
    height: 40%;
  }

  p {
    width: 450px;
    margin: auto;
    padding-top: 52px;
    line-height: 17px;
    background-image: image-url('di_telegraph_logo.png');
    background-repeat: no-repeat;
    background-size: 67px 42px;
    background-position: top left;
  }
}
