$body: 960px;
$bodyMinWidth: 1000px;
$bodyMinHeight: 675px;
$aboutWidth: 686px;

menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  @include square(74px);
  background-image: image-url('menu_bg.jpg');
  @include transition-property(all);
  @include transition-duration(300ms);
  @include transition-timing-function(ease-out);
  @include transition-delay(350ms);

  &.opened {
    width: 416px;
    height: 100%;
    min-height: 500px;
    @include transition-delay(0);

    i ul { @include rotate(90deg); }

    .items li {
      opacity: 1;
      visibility: visible;
      @include transition-delay(350ms);
    }
  }

  i {
    position: absolute;
    @include display-flex();
    @include square(74px);
    cursor: pointer;

    ul {
      @include display-flex();
      @include flex-direction(column);
      @include justify-content(space-between);
      width: 27px;
      height: 22px;
      margin: auto;
      @include transition-property(all);
      @include transition-duration(300ms);
      @include transition-timing-function(ease-out);

      li {
        width: 27px;
        height: 4px;
        background-color: white;
      }
    }
  }

  .items {
    @include display-flex();
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    @include square;

    li {
      width: 192px;
      margin: 14px 0;
      color: white;
      opacity: 0;
      visibility: hidden;
      @include transition-property(all);
      @include transition-duration(300ms);
      @include transition-timing-function(ease-out);
      @include transition-delay(0);

      a:hover,
      a.current {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.credits {
  & > .logoWrapper {
    width: $body;
    margin: auto;
  }

  .centerizer {
    @include display-flex();
    @include flex-direction(column);
    @include justify-content(space-around);
    @include align-items(center);
    width: $body;
    margin: auto;
  }
}

@media only screen and (min-width : 1224px) {
  html,
  body,
  .centerizer,
  .welcome,
  .promo,
  .registration,
  .address {
    min-width: $bodyMinWidth;
    min-height: $bodyMinHeight;
  }

  .promo {
    .promoGif {
      background-image: image-url('promo.gif');
    }
  }

  .schedule {
    .about { width: $aboutWidth; }

    section.session {
      ul {
        li {
          .wrapper { width: $body; }
        }
      }
    }
  }

  .credits {
    min-width: $bodyMinWidth;
    height: auto;
  }
}
