@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  $body: calc(100% - 40px);
  $bodyMinHeight: 100%;
  $bodyMinWidth: 100%;

  html,
  body,
  .centerizer,
  .topScreenWrapper,
  .welcome,
  .promo,
  .registration,
  .address {
    min-width: $bodyMinWidth;
    min-height: $bodyMinHeight;
  }

  .welcome {
    .centerizer {
      width: $body;
    }
  }

  .video {
    .centerizer {
      iframe {
        min-width: 700px;
        min-height: 395px;
      }
    }
  }

  .schedule {
    section.session {
      ul {
        li {
          .wrapper { width: $body; }
        }
      }
    }
  }

  .partners {
    height: 900px;

    header,
    footer,
    footer hr { width: $body; }
  }

  .credits {
    height: auto;

    & > .logoWrapper,
    footer { width: $body; }

    .centerizer { display: block; }
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  $aboutWidth: 486px;

  .schedule {

    header.top {
      h2 {
        padding-left: 20px;
        text-align: left;
      }
    }

    .about { width: $aboutWidth; }

    section.session {
      header {
        .left { width: $timeWidth + $photoWidth - $headlinePadding; }
        .right { width: $aboutWidth - $headlinePadding; }

        &#intro,
        &#special {

          .left { width: $timeWidth + $photoWidth - $headlinePadding; }

          .right {
            width: $aboutWidth + $headlinePadding;

            span {
              padding-left: $headlinePadding;
            }
          }
        }
      }
    }
  }

  .partners {
    footer {
      ul {
        width: $body;

        li {
          min-width: 205px;
        }
      }
    }
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  $aboutWidth: 686px;

  .schedule {

    .about { width: $aboutWidth; }

    section.session {
      header {
        .left { width: $timeWidth + $photoWidth - $headlinePadding * 2; }
        .right { width: $aboutWidth - $headlinePadding; }

        &#intro,
        &#special {

          .left { width: $timeWidth + $photoWidth - $headlinePadding * 2; }

          .right {
            width: $aboutWidth + $headlinePadding;

            span { padding-left: $headlinePadding; }
          }
        }
      }
    }
  }
}
