.social-likes_single-w {
  display: block;
  width: 188px;
  height: 56px;
  border: 3px solid white;
  text-align: center;
  line-height: 50px;
  @include transition-property(all);
  @include transition-duration(.3s);
  @include transition-timing-function(ease-out);
  color: white;
}

.social-likes {
  width: 188px;
  margin-top: -3px;
  margin-left: -3px;
  border: 3px solid white;
}

.social-likes > * {
  visibility: hidden;
}

.social-likes_visible > * { visibility: inherit; }

.social-likes__widget:before,
.social-likes__widget:after {
  display: none !important;
}

.social-likes__button,
.social-likes__icon {
  text-decoration: none;
  text-rendering: optimizeLegibility;
}

.social-likes__button {
  display: inline-block;
  margin: 0;
  outline: 0;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.social-likes_vertical {
  .social-likes__widget { display: block; }
}

.social-likes_single-w {
  position: relative;
  display: inline-block;
}

.social-likes_single {
  position: absolute;
  text-align: center;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0 .11s, opacity .1s ease-in;
  transition: visibility 0s .11s, opacity .1s ease-in;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.social-likes_single.social-likes_opened {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .15s ease-out;
  transition: opacity .15s ease-out;
}

.social-likes__button_single { position: relative; }

.social-likes__widget:hover,
.social-likes__widget:active,
.social-likes__widget:focus {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  cursor: pointer;
}

.social-likes_single {
  background: #fff;
  color: black;
}

.social-likes_single .social-likes__button {
  display: block;
}

.social-likes__widget_single:hover,
.social-likes__widget_single:active,
.social-likes__widget_single:focus,
.social-likes__widget_active {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.social-likes_opened .social-likes__widget_single:hover,
.social-likes__widget_single:hover {
  background: white;
  color: black;
}

.social-likes_opened .social-likes__widget_single:focus,
.social-likes_opened .social-likes__widget_active {
  background: none;
  color: white;
}

.social-likes__widget_facebook:hover,
.social-likes__widget_facebook:active,
.social-likes__widget_facebook:focus {
  background: #425497;
  border-color: #425497
}

.social-likes__widget_twitter:hover,
.social-likes__widget_twitter:active,
.social-likes__widget_twitter:focus {
  background: #00b7ec;
  border-color: #00b7ec;
}

.social-likes__widget_vkontakte:hover,
.social-likes__widget_vkontakte:active,
.social-likes__widget_vkontakte:focus {
  background: #526e8f;
  border-color: #526e8f;
}
