.video {
  // position: absolute;
  width: 100%;
  height: auto;
  padding: 25px 0;

  .centerizer {
    @include display-flex();
    padding: 25px 0;

    iframe {
      // display: none;
      // width: 80%;
      // height: calc();
      min-width: 1000px;
      min-height: 565px;
      margin: auto;
      // visibility: hidden;
    }
  }
}
