.video {
  width: 100%;
  height: auto;
  padding: 25px 0;

  .centerizer {
    @include display-flex();
    padding: 25px 0;

    iframe {
      min-width: 1000px;
      min-height: 565px;
      margin: auto;
    }
  }
}
