$body: 960px;
$padding: 20px;
$grey: #cccccc;
$scheduleGrey: #4d4d4d;
$scheduleDarkGrey: #1a1a1a;
$scheduleLightGrey: #808080;

* {
  @include box-sizing(border-box);
  background-size: cover;
  background-position: center;
  letter-spacing: 2px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
  font-family: 'PT Mono', 'Courier New', Courier, monospace;
  font-size: 14px;
}

a { color: inherit; }
strong { font-weight: bold; }

hr {
  border-color: $grey;
  border-width: 1px 0 0 0;
  border-style: solid;
}

.videoBackground {
  position: absolute;
  @include square;
  overflow: hidden;

  video {
    position: absolute;
    top: 0;
    min-width: 100%;
    min-height: 100%;
  }
}

.logo {
  &.slon {
    width: 53px;
    height: 20px;
    background-image: image-url('slon_logo.png');
  }

  &.rbk {
    width: 66px;
    height: 26px;
    background-image: image-url('rbk_logo.png');
  }
}

.share {
  display: block;
  width: 188px;
  height: 56px;
  border: 3px solid white;
  text-align: center;
  line-height: 50px;
  @include transition-property(all);
  @include transition-duration(.3s);
  @include transition-timing-function(ease-out);
  color: white;

  &:hover {
    background: white;
    color: black;
    cursor: pointer;
  }
}

.centerizer {
  width: 646px;
  margin: 0 auto;

  aside {
    width: 440px;
    margin-left: 250px;
    text-align: left !important;
  }
}

html,
body,
.welcome,
.promo,
.registration,
.address,
.partners,
.credits {
  @include square;
  min-width: 1000px;
  min-height: 675px;
}

.welcome {
  background-image: image-url('welcome_bg.jpg');
  color: white;

  .centerizer {
    position: relative;
    @include display-flex();
    @include flex-direction(column);
    @include justify-content(space-around);
    @include align-items(center);
    height: 100%;
    z-index: 1;
  }

  .logo {
    width: 381px;
    height: 170px;
    margin-left: 194px;
    background: image-url('welcome_logo.png');
  }

  h2 {
    font-size: 21px;
  }

  p {
    margin-top: 15px;
    font-size: 16px;
    line-height: 20px;
  }

  .chevron {
    width: 32px;
    height: 21px;
    background: image-url('chevron.png');
  }
}

.promo {
  @include display-flex();
  background-image: image-url('promo_bg.jpg');

  .promoGif {
    @include display-flex();
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    @include square(500px);
    margin: auto;
    background-image: image-url('promo.gif');

    .playButtonCircle {
      @include display-flex();
      @include justify-content(center);
      @include align-items(center);
      @include square(120px);
      border: 10px solid white;
      @include border-radius(60px);
      @include transition-property(background);
      @include transition-duration(.3s);
      @include transition-timing-function(ease-out);

      &:hover {
        background-color: rgba(255,255,255,.4);
        cursor: pointer;
      }

      .playButtonTriangle {
        width: 24px;
        height: 32px;
        background-image: image-url('play.png');
      }
    }

    h2 {
      margin-top: 28px;
      font-size: 21px;
      color: white;
      text-align: center;
    }
  }
}

.schedule {
  $timeWidth: 150px;
  $photoWidth: 124px;
  $photoImageWidth: 97px;
  $aboutWidth: 686px;
  $headlinePadding: 30px;

  header.top {
    position: relative;
    padding-top: 53px;
    font-size: 24px;
    font-weight: bold;

    h2 {
      text-align: center;
      font-weight: bold;
      color: $scheduleGrey;
    }

    aside {
      position: absolute;
      top: 47px;
      right: 40px;
    }

    .logo {
      display: inline-block;
    }
  }

  section.session {
    header {
      display: flex;
      justify-content: center;
      font-size: 24px;
      margin-top: 200px;
      border-top: 1px solid $grey;

      .left, .right {
        margin-top: -12px;

        span {
          background-color: white;
        }
      }

      .left {
        width: $timeWidth + $photoWidth;
        text-align: right;

        span {
          padding-left: $headlinePadding;
          padding-right: $photoWidth - $photoImageWidth - 4px;
          color: $scheduleGrey;
        }
      }

      .right {
        width: $aboutWidth;
        font-weight: bold;
        text-transform: uppercase;
        color: $scheduleDarkGrey;

        span {
          padding-right: $headlinePadding;
        }
      }

      &#intro {
        .left {
          width: $timeWidth + $photoWidth - $headlinePadding;
        }

        .right {
          width: $aboutWidth + $headlinePadding;

          span {
            padding-left: $headlinePadding;
          }
        }
      }
    }

    ul {
      width: $body;
      margin: 0 auto;

      li {
        display: flex;
        margin: 50px 0;

        a { text-decoration: underline; }
      }
    }
  }

  .time {
    width: $timeWidth;
    font-size: 18px;
    color: $scheduleGrey;

    span {
      font-size: 10px;
      text-decoration: underline;
      vertical-align: top;
      line-height: 12px;
    }
  }

  .photo, .line { width: $photoWidth; }

  .photo {
    img { @include square(97px) }
  }

  .line {
    padding-right: $photoWidth - $photoImageWidth;
  }

  .about {
    width: $aboutWidth;

    h4 {
      font-size: 18px;
      color: $scheduleGrey;
    }

    p {
      font-size: 14px;
      line-height: 21px;
      color: $scheduleGrey;

      &.descriptor {
        color: $scheduleLightGrey;
      }
    }
  }
}

.registration {
  background-image: image-url('registration_bg.jpg');

  .centerizer {
    position: relative;
    z-index: 1;
    @include square;
    @include display-flex();
    @include flex-direction(column);
    @include justify-content(space-around);
    @include align-items(center);
  }

  h2 {
    font-size: 21px;
    line-height: 25px;
    color: white;
    text-align: center;
  }

  .logo1 {
    width: 37px;
    height: 103px;
    margin-top: 80px;
    background-image: image-url('registration_logo_1.png');
  }

  .logo2 {
    width: 71px;
    height: 32px;
    background-image: image-url('registration_logo_2.png');
  }

  .registerButton {
    width: 268px;
    height: 79px;
    // font-size: 14px;
    border: 3px solid black;
    text-align: center;
    line-height: 74px;
    @include transition-property(all);
    @include transition-duration(.3s);
    @include transition-timing-function(ease-out);

    &:hover {
      background: black;
      color: white;
      cursor: pointer;
    }
  }
}

.address {

  header {
    width: 100%;
    height: 60%;
    background-image: image-url('map_mock.jpg');
  }

  footer {
    @include display-flex();
    height: 40%;
  }

  p {
    width: 450px;
    margin: auto;
    line-height: 17px;
  }
}

.partners {
  @include display-flex();
  @include flex-direction(column);
  @include align-content(stretch);

  header {
    width: $body;
    height: 62px;
    padding-top: 47px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    hr, h2 {
      display: inline-block;
      vertical-align: middle;
    }

    hr { width: 420px; }
    h2 { margin: 0 2px; }
  }

  ul.orgs {
    @include display-flex();
    @include flex-direction(column);
    @include justify-content(space-around);
    // height: 60%;
    height: 80%;

    li {
      text-align: center;

      $padding: 100px;
      &:first-child { padding-top: $padding; }
      &:last-child  { padding-bottom: $padding; }

      .logo { margin: 0 auto; }
      p { margin-top: 20px; }
    }
  }

  // footer {
  //   height: 40%;
  //
  //   hr { width: $body; }
  //
  //   ul {
  //     @include display-flex();
  //     @include flex-direction(row);
  //     @include flex-wrap(no-wrap);
  //     @include justify-content(space-around);
  //     width: 80%;
  //     margin: 0 auto;
  //     padding: 60px 0 120px;
  //
  //     li {
  //       text-align: center;
  //
  //       .logo {
  //         width: 81px;
  //         height: 35px;
  //         margin: 0 auto;
  //         background-color: $grey;
  //       }
  //
  //       p {
  //         margin-top: 28px;
  //         line-height: 17px;
  //       }
  //     }
  //   }
  // }
}

.credits {
  position: relative;
  background-color: #333333;

  & > .logo {
    position: absolute;
    width: 54px;
    height: 71px;
    margin: -30px calc(50% - 27px);
    background-image: image-url('credits_logo_1.jpg');
  }

  .centerizer {
    @include display-flex();
    height: calc(100% - 120px);

    aside {
      margin: auto auto auto 228px;
    }

    h2 {
      margin-top: 55px;
      font-size: 18px;
    }

    p {
      line-height: 17px;

      &:first-of-type { margin-top: 42px; }
    }

    .grey { color: #4d4d4d; }
  }

  footer {
    position: relative;
    width: $body;
    height: 120px;
    margin: 0 auto;
    padding: 38px 0;
    border-top: 1px solid black;

    .logo {
      position: absolute;
      width: 98px;
      height: 44px;
      right: 0;
      background-image: image-url('credits_logo_2.png');
    }

    p {
      text-align: center;
      line-height: 44px;
      color: white;
    }
  }
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  $marginLeft: 38px;

  .centerizer {
    width: 100%;

    aside {
      width: 100%;
      margin-left: 0;
      text-align: left !important;
    }
  }

  html,
  body,
  .welcome,
  .promo,
  .registration,
  .address,
  .partners,
  .credits {
    @include square;
    min-width: 100%;
    min-height: 100%;
  }

  .welcome {

    .centerizer {
      @include align-items(flex-start);
    }

    .logo {
      width: 205px;
      height: 91px;
      margin: 20px 0 0 $marginLeft;
      background: image-url('welcome_logo_m.png');
    }

    h2, p { margin: 15px 0 0 $marginLeft; }

    h2 {
      margin-top: 0;
      font-size: 12px;
    }

    p {
      margin: 15px 0 0 38px;
      font-size: 10px;
      line-height: 20px;
    }

    .share,
    .chevron {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .promo {

    .promoGif {
      @include square(280px);
      h2 { font-size: 16px; }
    }
  }

  .schedule {
    $timeWidth: 150px;
    $photoWidth: 124px;
    $photoImageWidth: 97px;
    $aboutWidth: 686px;
    $headlinePadding: 30px;

    header.top {
      padding: 80px 40px 0;

      h2 {
        text-align: left;
        font-size: 20px;
      }

      aside {
        position: absolute;
        width: 66px;
        top: 40px;
        right: 40px;
      }

      .logo { display: block; }
      .rbk { margin-top: 10px; }
    }

    section.session {
      header {
        display: block;
        margin-top: 200px;
        border-bottom: 1px solid $grey;

        .left {
          width: 100%;
          text-align: center;
        }

        .right {
          width: 100%;
          text-align: left;
          padding: 0 40px;
          margin: 25px 0 30px;
        }

        &#intro {
          .left { width: 100%; }

          .right {
            width: 100%;
            margin-top: 45px;

            span { padding-left: 0; }
          }
        }
      }

      ul {
        width: 100%;
        margin: 0;

        li {
          display: block;
          padding: 0 40px 40px;
          border-bottom: 1px solid $grey;
        }
      }

      &:last-child {
        ul li { border: none; }
      }
    }

    .time {
      width: 100%;
      font-size: 18px;
      color: $scheduleGrey;
      margin-bottom: 15px;

      span {
        font-size: 10px;
        text-decoration: underline;
        vertical-align: top;
        line-height: 12px;
      }
    }

    .photo, .line { width: 100%; }
    .line { display: none; }

    .about {
      width: 100%;

      h4 {
        margin-top: 20px;
        font-size: 18px;
        color: $scheduleGrey;
      }

      p {
        font-size: 14px;
        line-height: 21px;
        color: $scheduleGrey;

        &.descriptor {
          color: $scheduleLightGrey;
        }
      }
    }
  }

  .registration {
    background-image: image-url('registration_bg_m.jpg');

    .logo1 {
      width: 25px;
      height: 69px;
      margin-top: 10px;
      background-image: image-url('registration_logo_1_m.png');
    }
  }

  .address {

    header {
      width: 100%;
      height: 60%;
      background-image: image-url('map_mock.jpg');
    }

    footer {
      @include display-flex();
      height: 40%;
    }

    p {
      width: 100%;
      margin-left: $marginLeft;
      font-size: 10px;
    }
  }

  .partners {

    header {
      width: 100%;

      hr { width: 102px; }
    }

    ul.orgs {
      li {
        $padding: 50px;
        &:first-child { padding-top: $padding; }
        &:last-child  { padding-bottom: $padding; }
      }
    }
  }

  .credits {
    height: auto;

    .share { margin: 96px auto 0; }

    .centerizer {
      aside { margin: auto; }
      h2, p { margin-left: $marginLeft; }
      h2 { margin-top: 55px; }
      .grey { display: block; }
    }

    footer {
      @include display-flex();
      @include flex-direction(column);
      @include justify-content(space-around);
      width: 100%;
      height: 306px;
      padding: 60px 0;
      border-top: none;

      .logo, p { margin-left: $marginLeft; }
      .logo { position: static; }
      p { text-align: left; }
    }
  }

}
