$body: 960px;
// $body: calc(100% - 40px);
$padding: 20px;
$grey: #cccccc;
// $scheduleGrey: #4d4d4d;
// $scheduleDarkGrey: #1a1a1a;
// $scheduleLightGrey: #808080;
$scheduleGrey: #1a1a1a;
$scheduleDarkGrey: #1a1a1a;
$scheduleLightGrey: #808080;
$timeWidth: 150px;
$photoWidth: 124px;
$photoImageWidth: 97px;
$aboutWidth: 686px;
$headlinePadding: 30px;

* {
  @include box-sizing(border-box);
  background-size: cover;
  background-position: center;
  letter-spacing: 2px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
  font-family: 'PT Mono', 'Courier New', Courier, monospace;
  font-size: 14px;
}

a { color: inherit; }
strong { font-weight: bold; }

hr {
  border-color: $grey;
  border-width: 1px 0 0 0;
  border-style: solid;
}

.videoBackground {
  position: absolute;
  @include square;
  overflow: hidden;

  video {
    position: absolute;
    top: 0;
    min-width: 100%;
    min-height: 100%;
  }
}

.logo {
  &.slon, &.rbk { display: block; }

  &.slon {
    width: 53px;
    height: 20px;
    background-image: image-url('slon_logo.png');
  }

  &.rbk {
    width: 66px;
    height: 26px;
    background-image: image-url('rbk_logo.png');
  }
}

.share {
  display: block;
  width: 188px;
  height: 56px;
  border: 3px solid white;
  text-align: center;
  line-height: 50px;
  @include transition-property(all);
  @include transition-duration(.3s);
  @include transition-timing-function(ease-out);
  color: white;

  &:hover {
    background: white;
    color: black;
    cursor: pointer;
  }
}

.centerizer {
  position: relative;
  z-index: 1;
  margin: 0 auto;

  aside {
    width: 440px;
    margin-left: 250px;
    text-align: left !important;
  }
}

html,
body,
.centerizer,
.topScreenWrapper,
.welcome,
.promo,
.registration,
.address,
.partners {
  @include square;
}

.topScreenWrapper { overflow: scroll; }

.black {
  background-color: black;

  .time,
  .about h4,
  .about p {
    color: white !important;
  }
}

@import 'welcome';
@import 'promo';
@import 'video';
@import 'schedule';
@import 'registration';
@import 'address';
@import 'partners';
@import 'credits';

@import 'ipad';
@import 'desktop';
@import 'iphone';
