$body: 960px;
// $body: calc(100% - 40px);
$padding: 20px;
$grey: #cccccc;
// $scheduleGrey: #4d4d4d;
// $scheduleDarkGrey: #1a1a1a;
// $scheduleLightGrey: #808080;
$scheduleGrey: #1a1a1a;
$scheduleDarkGrey: #1a1a1a;
$scheduleLightGrey: #808080;
$timeWidth: 150px;
$photoWidth: 124px;
$photoImageWidth: 97px;
$aboutWidth: 686px;
$headlinePadding: 30px;
