<section class="address">
  <header class="map" id="map" data-latitude="55.758478" data-longitude="37.61053"></header>

  <footer>
    <p>
      Ждем вас <strong>29 октября</strong> в креативном
      пространстве <strong>DI Telegraph</strong> по адресу:
      Москва, <strong>ул. Тверская, д.7</strong><br>
      Вход со стороны Газетного переулка
      9 подъезд, 5 этаж
    </p>
  </footer>
</section>
