<section class="credits">
  <div class="logo"></div>

  <div class="centerizer">
    <aside>
      <%= render 'share' %>

      <h2>Над проектом работали</h2>

      <p><a href="https://www.facebook.com/valdis.lovethis">Валдис Белых <span class="grey">Арт-директор</span></a></p>
      <p><a href="http://zakharday.com">Захар День <span class="grey">Веб-разработчик</span></a></p>
      <p><a href="https://www.facebook.com/tekhlikidi">Илья Техликиди <span class="grey">Креативный продюсер</span></a></p>
      <br>
      <p><a href="https://www.facebook.com/thegreatfruit">Branding, Web Design, Video Production by <span class="grey">the Great Fruit®</span></a></p>
    </aside>
  </div>

  <footer>
    <div class="logo"></div>
    <p>© Media Makers / 2014</p>
  </footer>
</section>
