<section class="credits" id="credits">
  <div class="logoWrapper">
    <div class="logo"></div>
  </div>

  <div class="centerizer">
    <aside>
      <%= render 'share' %>

      <h2>Над проектом работали</h2>

      <p><a href="http://facebook.com/valdis.lovethis">Валдис Белых <span class="grey">Арт-директор</span></a></p>
      <p><a href="http://zakharday.com">Захар День <span class="grey">Веб-разработчик</span></a></p>
      <p><a href="http://facebook.com/tekhlikidi">Илья Техликиди <span class="grey">Креативный продюсер</span></a></p>
      <br>
      <p><a href="http://facebook.com/thegreatfruit">Branding, Web Design, Video Production by <span class="grey">the Great Fruit®</span></a></p>

      <div class="greatFruit">
        <a href="http://www.facebook.com/thegreatfruit" target="_blank">
          <%= image_tag 'gf_logo.png' %>
        </a>
      </div>
    </aside>
  </div>

  <footer>
    <div class="logo"></div>
    <p>© MediaMakers / 2014</p>
  </footer>
</section>
