<menu>
  <i>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </i>

  <ul class="items">
    <li><a class="scrollTo" href="#welcome">MediaMakers</a></li>
    <li><a class="scrollTo" href="#video">Видео</a></li>
    <li><a class="scrollTo" href="#schedule">Расписание</a></li>
    <li><a class="scrollTo" href="#registration">Регистрация</a></li>
    <li><a class="scrollTo" href="#address">Адрес</a></li>
    <li><a class="scrollTo" href="#partners">Партнеры</a></li>
    <li><a class="scrollTo" href="#credits">Титры</a></li>
  </ul>
</menu>
