<section class="partners" id="partners">
  <header>
    <h2><span>Партнеры</span></h2>
  </header>

  <ul class="orgs">
    <li>
      <a href="http://slon.ru/" class="logo slon" target="_blank"></a>
      <p>организатор конференции</p>
    </li>
    <li>
      <a href="http://www.rusventure.ru/ru/" class="logo rbk" target="_blank"></a>
      <p>учредитель конференции</p>
    </li>
  </ul>

  <footer>
    <hr noshade>

    <ul>
      <li>
        <div class="logo">
          <a href="http://cosmotheca.com" class="logo cosmotheca" target="_blank"></a>
        </div>
        <p>арома-партнер конференции</p>
      </li>
      <li>
        <div class="logo">
          <a href="http://seryab.ru" class="logo koxx" target="_blank"></a>
        </div>
        <p>бодрящий партнер конференции</p>
      </li>
      <li>
        <div class="logo">
          <a href="http://facebook.com/DoubleBCoffeeTea" class="logo dablbi" target="_blank"></a>
        </div>
        <p>coffee&tea-партнер конференции</p>
      </li>
    </ul>
  </footer>

  <!-- <footer>
    <hr noshade>

    <ul>
      <li>
        <div class="logo"></div>
        <p>организатор<br>конференции</p>
      </li>
      <li>
        <div class="logo"></div>
        <p>организатор<br>конференции</p>
      </li>
      <li>
        <div class="logo"></div>
        <p>организатор<br>конференции</p>
      </li>
      <li>
        <div class="logo"></div>
        <p>организатор<br>конференции</p>
      </li>
      <li>
        <div class="logo"></div>
        <p>организатор<br>конференции</p>
      </li>
    </ul>
  </footer> -->
</section>
