<section class="partners" id="partners">
  <header>
    <h2><span>Партнеры</span></h2>
  </header>

  <ul class="orgs">
    <li>
      <a href="http://slon.ru/" class="logo slon" target="_blank"></a>
      <p>организатор конференции</p>
    </li>
    <li>
      <a href="http://www.rusventure.ru/ru/" class="logo rbk" target="_blank"></a>
      <p>учредитель конференции</p>
    </li>
  </ul>

  <footer>
    <hr noshade>

    <ul>
      <li>
        <div class="logo">
          <a href="http://cosmotheca.com" class="logo cosmotheca" target="_blank"></a>
        </div>
        <p>арома-партнер</p>
      </li>
      <li>
        <div class="logo">
          <a href="http://seryab.ru" class="logo koxx" target="_blank"></a>
        </div>
        <p>бодрящий партнер</p>
      </li>
      <li>
        <div class="logo">
          <a href="http://facebook.com/DoubleBCoffeeTea" class="logo dablbi" target="_blank"></a>
        </div>
        <p>coffee/tea партнер</p>
      </li>
    </ul>
  </footer>

  <header class="infopartners">
    <h2><span>информационные партнеры</span></h2>
  </header>

  <footer class="infopartners">
    <ul>
      <li>
        <div class="logo">
          <a href="http://the-village.ru" class="logo village" target="_blank"></a>
        </div>
      </li>
      <li>
        <div class="logo">
          <a href="http://lookatme.ru" class="logo lam" target="_blank"></a>
        </div>
      </li>
      <li>
        <div class="logo">
          <a href="http://akarussia.ru" class="logo aka" target="_blank"></a>
        </div>
      </li>
    </ul>

    <ul>
      <li>
        <div class="logo">
          <a href="http://bg.ru" class="logo bg" target="_blank"></a>
        </div>
      </li>
      <li>
        <div class="logo">
          <a href="http://tvrain.ru" class="logo rain" target="_blank"></a>
        </div>
      </li>
      <li>
        <div class="logo">
          <a href="http://apparat.cc" class="logo apparat" target="_blank"></a>
        </div>
      </li>
    </ul>

    <ul>
      <li>
        <div class="logo">
          <a href="http://corpmedia.ru" class="logo akmp" target="_blank"></a>
        </div>
      </li>
      <li>
        <div class="logo">
          <a href="http://siliconrus.com" class="logo cp" target="_blank"></a>
        </div>
      </li>
      <li>
        <div class="logo">
          <a href="http://theoryandpractice.ru" class="logo tandp" target="_blank"></a>
        </div>
      </li>
      <li>
        <div class="logo">
          <a href="http://iidf.ru" class="logo frii" target="_blank"></a>
        </div>
      </li>
    </ul>
  </footer>

  <!-- <footer>
    <hr noshade>

    <ul>
      <li>
        <div class="logo"></div>
        <p>организатор<br>конференции</p>
      </li>
      <li>
        <div class="logo"></div>
        <p>организатор<br>конференции</p>
      </li>
      <li>
        <div class="logo"></div>
        <p>организатор<br>конференции</p>
      </li>
      <li>
        <div class="logo"></div>
        <p>организатор<br>конференции</p>
      </li>
      <li>
        <div class="logo"></div>
        <p>организатор<br>конференции</p>
      </li>
    </ul>
  </footer> -->
</section>
