<section class="preloader">
  <%= render 'preloader_logo' %>
  <ul class="spinner">
    <li class="current"></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</section>
