<section class="promo">
  <div class="centerizer">
    <div class="promoGif bubble">
      <div class="playButtonCircle" id="play">
        <%= render 'play_svg' %>
      </div>
      <h2>Смотреть промо-ролик</h2>
    </div>
  </div>
</section>
