<section class="registration" id="registration">

  <% if mobile_device? %>
    <section class="mobileBackground"></section>
  <% else %>

    <%
      if browser.firefox? || browser.opera?
        video_file = 'videos/registration.webm'
      else
        video_file = 'videos/registration.mp4'
      end
    %>

    <script>
      var video_file_2 = "<%= video_file %>";
    </script>

    <section class="videoBackground" id="registrationVideoBackground">
      <%#= video_tag(video_file, controls: false, autoplay: true, loop: true, poster: 'registration_bg.jpg') %>
    </section>
  <% end %>

  <div class="centerizer">

    <div class="logo1"></div>
    <h2>
      Станьте гостем MediaMakers, зарегистрировавшись<br>
      на официальной странице мероприятия на Exchang.es</h2>
      <a class="registerButton" target="_blank" href="https://exchang.es/e/oghlianities-miedia-mieniaiutsia-prievrashchaias-v-iedinyi-dinamichnyi-potok-informatsii-priamo-u-nas-na-ghlazakh">зарегистрироваться</a>
    <div class="logo2"></div>

  </div>
</section>
