<div class="share social-likes social-likes_single" data-counters="no" data-title="Slon и РВК представляют MediaMakers — первую конференцию о людях, меняющих ландшафт медиа. 29 октября в DI Telegraph. http://mediamakers.ru/" data-single-title="поделиться" data-image="<%= image_url('share_image.jpg') %>">
  <div class="facebook" title="Поделиться ссылкой на Фейсбуке">facebook</div>
  <div class="twitter" title="Поделиться ссылкой в Твиттере">twitter</div>
  <div class="vkontakte" title="Поделиться ссылкой во Вконтакте">вконтакте</div>
</div>
