<a target="_blank" class="share" href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=http://mediamakers.ru&amp;p[images][0]=<%= image_url('registration_bg_m.jpg') %>&amp;p[title]=<%= @title %>&amp;p[summary]=<%= @about %>">поделиться</a>
