<section class="topScreenWrapper">

  <% unless mobile_device? %>
    <section class="videoBackground">
      <%= video_tag(['videos/welcome.mp4', 'videos/welcome.webm', 'videos/welcome.ogv'], controls: false, autoplay: true, loop: true, poster: 'welcome_bg.jpg') %>
    </section>
  <% end %>

  <section class="welcome">

    <div class="centerizer">

      <div class="logo"></div>

      <aside>
        <h2>© Меняем медиаландшафт</h2>
        <p>
          Первая конференция о людях, меняющих
          ландшафт медиа. Людях, создающих
          инновационные проекты и продукты.
          Людях, переворачивающих привычную
          среду с ног на голову.
        </p>
        <p>29 октября в DI Telegraph.</p>
      </aside>

      <%= render 'share' %>
      <div class="chevron"></div>

    </div>
  </section>

  <section class="promo">
    <div class="centerizer">
      <div class="promoGif bubble">
        <div class="playButtonCircle" id="play">
          <%= render 'play_svg' %>
        </div>
        <h2>Смотреть промо-ролик</h2>
      </div>
    </div>
  </section>

  <section class="video">
    <div class="centerizer">
      <%= render 'video' %>
    </div>
  </section>

</section>
