<section class="topScreenWrapper">
  <section class="videoBackground">
    <%= video_tag(['videos/welcome.mp4', 'videos/welcome.webm', 'videos/welcome.ogv'], controls: false, autoplay: true, loop: true, poster: 'welcome_bg.jpg') %>
  </section>

  <section class="welcome">

    <div class="centerizer">

      <div class="logo"></div>

      <aside>
        <h2>© Меняем медиаландшафт</h2>
        <p><%= @about %></p>
      </aside>

      <%= render 'share' %>
      <div class="chevron"></div>

    </div>
  </section>

  <section class="promo">
    <div class="centerizer">
      <div class="promoGif bubble">
        <div class="playButtonCircle" id="play">
          <div class="playButtonTriangle"></div>
        </div>
        <h2>Смотреть промо-ролик</h2>
      </div>
    </div>
  </section>

  <section class="video">
    <div class="centerizer">
      <%= render 'video' %>
    </div>
  </section>

</section>
