<section class="welcome">

  <div class="centerizer">

    <div class="logo"></div>

    <aside>
      <h2>© Меняем медиаландшафт</h2>
      <p>
        Первая конференция о людях, меняющих
        ландшафт медиа. Людях, создающих
        инновационные проекты и продукты.
        Людях, переворачивающих привычную
        среду с ног на голову.
      </p>
      <p>29 октября в DI Telegraph.</p>
    </aside>

    <%= render 'share' %>
    <div class="chevron" id="chevron"></div>

  </div>
</section>
