<div class="share social-likes social-likes_single" data-counters="no" data-title="<%= @description %>" data-single-title="поделиться">
  <div class="facebook" title="Поделиться ссылкой на Фейсбуке">facebook</div>
  <div class="twitter" title="Поделиться ссылкой в Твиттере">twitter</div>
  <div class="vkontakte" title="Поделиться ссылкой во Вконтакте">вконтакте</div>
</div>
